In [6]:
##pandas- Panel Data Analysis

In [1]:
import pandas as pd

In [2]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## importing datasets in python

In [4]:
pd.read_csv('pokemon_data.csv')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
pd.read_csv('C:\\Users\\User\\Downloads\\pokemon_data.csv')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
pd.read_csv('C:/Users/User/Downloads/pokemon_data.csv')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
pd.read_csv('pokemon_data.csv')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [9]:
titanic=pd.read_csv('titanic.csv')

In [10]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [12]:
store=pd.read_excel('Global_Superstore.xlsx')

In [13]:
store

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit Category-Updated,Profit Category,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,Worse,Awesome,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,Worse,Worse,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,Worse,Worse,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,Worse,Worse,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,Worse,Worse,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,Worse,Worse,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,Worse,Worse,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,Art,Newell 341,8.560,2,0.0,2.4824,Worse,Worse,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,Worse,Worse,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,Worse,Worse,1.002,High

In [14]:
store_new=pd.read_excel('Global_Superstore.xlsx',sheet_name=1)

In [15]:
store_new

              Unnamed: 0         Unnamed: 1
0                 Person             Region
1      Marilène Rousseau          Caribbean
2       Andile Ihejirika     Central Africa
3      Nicodemo Bautista    Central America
4         Cansu Peynirci       Central Asia
5             Lon Bonher         Central US
6           Wasswa Ahmed     Eastern Africa
7          Hadia Bousaid       Eastern Asia
8         Lynne Marchand     Eastern Canada
9          Oxana Lagunov     Eastern Europe
10         Dolores Davis         Eastern US
11      Lindiwe Afolayan       North Africa
12          Miina Nylund    Northern Europe
13           Kauri Anaru            Oceania
14       Vasco Magalhães      South America
15      Preecha Metharom  Southeastern Asia
16          Nora Cuijper    Southern Africa
17  Chandrakant Chaudhri      Southern Asia
18           Gavino Bove    Southern Europe
19       Flannery Newton        Southern US
20        Katlego Akosua     Western Africa
21             Kaoru Xun       Western Asia
22        Angela Jephson     Western Canada
23         Gilbert Wolff     Western Europe
24       Derrick Snyders         Western US

In [16]:
import os

In [17]:
os.getcwd()

'D:\\PGP in Data Science\\Pandas'

In [18]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [23]:
pd.options.display.max_rows

900

In [24]:
pd.options.display.min_rows

10

In [25]:
pd.options.display.max_rows=900

In [26]:
titanic

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           0       3    male  22.00      1      0    7.2500        S  NaN
1           1       1  female  38.00      1      0   71.2833        C    C
2           1       3  female  26.00      0      0    7.9250        S  NaN
3           1       1  female  35.00      1      0   53.1000        S    C
4           0       3    male  35.00      0      0    8.0500        S  NaN
5           0       3    male    NaN      0      0    8.4583        Q  NaN
6           0       1    male  54.00      0      0   51.8625        S    E
7           0       3    male   2.00      3      1   21.0750        S  NaN
8           1       3  female  27.00      0      2   11.1333        S  NaN
9           1       2  female  14.00      1      0   30.0708        C  NaN
10          1       3  female   4.00      1      1   16.7000        S    G
11          1       1  female  58.00      0      0   26.5500        S    C
12          0       3    male  20.00      0      0    8.0500        S  NaN
13          0       3    male  39.00      1      5   31.2750        S  NaN
14          0       3  female  14.00      0      0    7.8542        S  NaN
15          1       2  female  55.00      0      0   16.0000        S  NaN
16          0       3    male   2.00      4      1   29.1250        Q  NaN
17          1       2    male    NaN      0      0   13.0000        S  NaN
18          0       3  female  31.00      1      0   18.0000        S  NaN
19          1       3  female    NaN      0      0    7.2250        C  NaN
20          0       2    male  35.00      0      0   26.0000        S  NaN
21          1       2    male  34.00      0      0   13.0000        S    D
22          1       3  female  15.00      0      0    8.0292        Q  NaN
23          1       1    male  28.00      0      0   35.5000        S    A
24          0       3  female   8.00      3      1   21.0750        S  NaN
25          1       3  female  38.00      1      5   31.3875        S  NaN
26          0       3    male    NaN      0      0    7.2250        C  NaN
27          0       1    male  19.00      3      2  263.0000        S    C
28          1       3  female    NaN      0      0    7.8792        Q  NaN
29          0       3    male    NaN      0      0    7.8958        S  NaN
30          0       1    male  40.00      0      0   27.7208        C  NaN
31          1       1  female    NaN      1      0  146.5208        C    B
32          1       3  female    NaN      0      0    7.7500        Q  NaN
33          0       2    male  66.00      0      0   10.5000        S  NaN
34          0       1    male  28.00      1      0   82.1708        C  NaN
35          0       1    male  42.00      1      0   52.0000        S  NaN
36          1       3    male    NaN      0      0    7.2292        C  NaN
37          0       3    male  21.00      0      0    8.0500        S  NaN
38          0       3  female  18.00      2      0   18.0000        S  NaN
39          1       3  female  14.00      1      0   11.2417        C  NaN
40          0       3  female  40.00      1      0    9.4750        S  NaN
41          0       2  female  27.00      1      0   21.0000        S  NaN
42          0       3    male    NaN      0      0    7.8958        C  NaN
43          1       2  female   3.00      1      2   41.5792        C  NaN
44          1       3  female  19.00      0      0    7.8792        Q  NaN
45          0       3    male    NaN      0      0    8.0500        S  NaN
46          0       3    male    NaN      1      0   15.5000        Q  NaN
47          1       3  female    NaN      0      0    7.7500        Q  NaN
48          0       3    male    NaN      2      0   21.6792        C  NaN
49          0       3  female  18.00      1      0   17.8000        S  NaN
50          0       3    male   7.00      4      1   39.6875        S  NaN
51          0       3    male  21.00      0      0    7.8000        S  NaN
52          1       1  female  49.00      1      0   76.7292        C    D
53          1       2  female  29.00      1      0   26.0000        S  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
55          1       1    male    NaN      0      0   35.5000        S    C
56          1       2  female  21.00      0      0   10.5000        S  NaN
57          0       3    male  28.50      0      0    7.2292        C  NaN
58          1       2  female   5.00      1      2   27.7500        S  NaN
59          0       3    male  11.00      5      2   46.9000        S  NaN
60          0       3    male  22.00      0      0    7.2292        C  NaN
61          1       1  female  38.00      0      0   80.0000      NaN    B
62          0       1    male  45.00      1      0   83.4750        S    C
63          0       3    male   4.00      3      2   27.9000        S  NaN
64          0       1    male    NaN      0      0   27.7208        C  NaN
65          1       3    male    NaN      1      1   15.2458        C  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
67          0       3    male  19.00      0      0    8.1583        S  NaN
68          1       3  female  17.00      4      2    7.9250        S  NaN
69          0       3    male  26.00      2      0    8.6625        S  NaN
70          0       2    male  32.00      0      0   10.5000        S  NaN
71          0       3  female  16.00      5      2   46.9000        S  NaN
72          0       2    male  21.00      0      0   73.5000        S  NaN
73          0       3    male  26.00      1      0   14.4542        C  NaN
74          1       3    male  32.00      0      0   56.4958        S  NaN
75          0       3    male  25.00      0      0    7.6500        S    F
76          0       3    male    NaN      0      0    7.8958        S  NaN
77          0       3    male    NaN      0      0    8.0500        S  NaN
78          1       2    male   0.83      0      2   29.0000        S  NaN
79          1       3  female  30.00      0      0   12.4750        S  NaN
80          0       3    male  22.00      0      0    9.0000        S  NaN
81          1       3    male  29.00      0      0    9.5000        S  NaN
82          1       3  female    NaN      0      0    7.7875        Q  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
84          1       2  female  17.00      0      0   10.5000        S  NaN
85          1       3  female  33.00      3      0   15.8500        S  NaN
86          0       3    male  16.00      1      3   34.3750        S  NaN
87          0       3    male    NaN      0      0    8.0500        S  NaN
88          1       1  female  23.00      3      2  263.0000        S    C
89          0       3    male  24.00      0      0    8.0500        S  NaN
90          0       3    male  29.00      0      0    8.0500        S  NaN
91          0       3    male  20.00      0      0    7.8542        S  NaN
92          0       1    male  46.00      1      0   61.1750        S    E
93          0       3    male  26.00      1      2   20.5750        S  NaN
94          0       3    male  59.00      0      0    7.2500        S  NaN
95          0       3    male    NaN      0      0    8.0500        S  NaN
96          0       1    male  71.00      0      0   34.6542        C    A
97          1       1    male  23.00      0      1   63.3583        C    D
98          1       2  female  34.00      0      1   23.0000        S  NaN
99          0       2    male  34.00      1      0   26.0000        S  NaN
100         0       3  female  28.00      0      0    7.8958        S  NaN
101         0       3    male    NaN      0      0    7.8958        S  NaN
102         0       1    male  21.00      0      1   77.2875        S    D
103         0       3    male  33.00      0      0    8.6542        S  NaN
104         0       3    male  37.00      2      0    7.9250        S  NaN
105         0       3    male  28.00      0      0    7.8958        S  NaN
106         1       3  female  21.00      0      0    7.6500        S  NaN
107         1       3    male    NaN      0      0    7.7750        S  NaN
108         0       3    male  38.00      0      0    7.8958        S  NaN
109         1       3  female    NaN      1      0   24.1500        Q  NaN
110         0       1    male  47.00      0      0   52.0000        S    C
111         0       3  female  14.50      1      0   14.4542        C  NaN
112         0       3    male  22.00      0      0    8.0500        S  NaN
113         0       3  female  20.00      1      0    9.8250        S  NaN
114         0       3  female  17.00      0      0   14.4583        C  NaN
115         0       3    male  21.00      0      0    7.9250        S  NaN
116         0       3    male  70.50      0      0    7.7500        Q  NaN
117         0       2    male  29.00      1      0   21.0000        S  NaN
118         0       1    male  24.00      0      1  247.5208        C    B
119         0       3  female   2.00      4      2   31.2750        S  NaN
120         0       2    male  21.00      2      0   73.5000        S  NaN
121         0       3    male    NaN      0      0    8.0500        S  NaN
122         0       2    male  32.50      1      0   30.0708        C  NaN
123         1       2  female  32.50      0      0   13.0000        S    E
124         0       1    male  54.00      0      1   77.2875        S    D
125         1       3    male  12.00      1      0   11.2417        C  NaN
126         0       3    male    NaN      0      0    7.7500        Q  NaN
127         1       3    male  24.00      0      0    7.1417        S  NaN
128         1       3  female    NaN      1      1   22.3583        C    F
129         0       3    male  45.00      0      0    6.9750        S  NaN
130         0       3    male  33.00      0      0    7.8958        C  NaN
131         0       3    male  20.00      0      0    7.0500        S  NaN
132         0       3  female  47.00      1      0   14.5000        S  NaN
133         1       2  female  29.00      1      0   26.0000        S  NaN
134         0       2    male  25.00      0      0   13.0000        S  NaN
135         0       2    male  23.00      0      0   15.0458        C  NaN
136         1       1  female  19.00      0      2   26.2833        S    D
137         0       1    male  37.00      1      0   53.1000        S    C
138         0       3    male  16.00      0      0    9.2167        S  NaN
139         0       1    male  24.00      0      0   79.2000        C    B
140         0       3  female    NaN      0      2   15.2458        C  NaN
141         1       3  female  22.00      0      0    7.7500        S  NaN
142         1       3  female  24.00      1      0   15.8500        S  NaN
143         0       3    male  19.00      0      0    6.7500        Q  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
145         0       2    male  19.00      1      1   36.7500        S  NaN
146         1       3    male  27.00      0      0    7.7958        S  NaN
147         0       3  female   9.00      2      2   34.3750        S  NaN
148         0       2    male  36.50      0      2   26.0000        S    F
149         0       2    male  42.00      0      0   13.0000        S  NaN
150         0       2    male  51.00      0      0   12.5250        S  NaN
151         1       1  female  22.00      1      0   66.6000        S    C
152         0       3    male  55.50      0      0    8.0500        S  NaN
153         0       3    male  40.50      0      2   14.5000        S  NaN
154         0       3    male    NaN      0      0    7.3125        S  NaN
155         0       1    male  51.00      0      1   61.3792        C  NaN
156         1       3  female  16.00      0      0    7.7333        Q  NaN
157         0       3    male  30.00      0      0    8.0500        S  NaN
158         0       3    male    NaN      0      0    8.6625        S  NaN
159         0       3    male    NaN      8      2   69.5500        S  NaN
160         0       3    male  44.00      0      1   16.1000        S  NaN
161         1       2  female  40.00      0      0   15.7500        S  NaN
162         0       3    male  26.00      0      0    7.7750        S  NaN
163         0       3    male  17.00      0      0    8.6625        S  NaN
164         0       3    male   1.00      4      1   39.6875        S  NaN
165         1       3    male   9.00      0      2   20.5250        S  NaN
166         1       1  female    NaN      0      1   55.0000        S    E
167         0       3  female  45.00      1      4   27.9000        S  NaN
168         0       1    male    NaN      0      0   25.9250        S  NaN
169         0       3    male  28.00      0      0   56.4958        S  NaN
170         0       1    male  61.00      0      0   33.5000        S    B
171         0       3    male   4.00      4      1   29.1250        Q  NaN
172         1       3  female   1.00      1      1   11.1333        S  NaN
173         0       3    male  21.00      0      0    7.9250        S  NaN
174         0       1    male  56.00      0      0   30.6958        C    A
175         0       3    male  18.00      1      1    7.8542        S  NaN
176         0       3    male    NaN      3      1   25.4667        S  NaN
177         0       1  female  50.00      0      0   28.7125        C    C
178         0       2    male  30.00      0      0   13.0000        S  NaN
179         0       3    male  36.00      0      0    0.0000        S  NaN
180         0       3  female    NaN      8      2   69.5500        S  NaN
181         0       2    male    NaN      0      0   15.0500        C  NaN
182         0       3    male   9.00      4      2   31.3875        S  NaN
183         1       2    male   1.00      2      1   39.0000        S    F
184         1       3  female   4.00      0      2   22.0250        S  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
186         1       3  female    NaN      1      0   15.5000        Q  NaN
187         1       1    male  45.00      0      0   26.5500        S  NaN
188         0       3    male  40.00      1      1   15.5000        Q  NaN
189         0       3    male  36.00      0      0    7.8958        S  NaN
190         1       2  female  32.00      0      0   13.0000        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
192         1       3  female  19.00      1      0    7.8542        S  NaN
193         1       2    male   3.00      1      1   26.0000        S    F
194         1       1  female  44.00      0      0   27.7208        C    B
195         1       1  female  58.00      0      0  146.5208        C    B
196         0       3    male    NaN      0      0    7.7500        Q  NaN
197         0       3    male  42.00      0      1    8.4042        S  NaN
198         1       3  female    NaN      0      0    7.7500        Q  NaN
199         0       2  female  24.00      0      0   13.0000        S  NaN
200         0       3    male  28.00      0      0    9.5000        S  NaN
201         0       3    male    NaN      8      2   69.5500        S  NaN
202         0       3    male  34.00      0      0    6.4958        S  NaN
203         0       3    male  45.50      0      0    7.2250        C  NaN
204         1       3    male  18.00      0      0    8.0500        S  NaN
205         0       3  female   2.00      0      1   10.4625        S    G
206         0       3    male  32.00      1      0   15.8500        S  NaN
207         1       3    male  26.00      0      0   18.7875        C  NaN
208         1       3  female  16.00      0      0    7.7500        Q  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
210         0       3    male  24.00      0      0    7.0500        S  NaN
211         1       2  female  35.00      0      0   21.0000        S  NaN
212         0       3    male  22.00      0      0    7.2500        S  NaN
213         0       2    male  30.00      0      0   13.0000        S  NaN
214         0       3    male    NaN      1      0    7.7500        Q  NaN
215         1       1  female  31.00      1      0  113.2750        C    D
216         1       3  female  27.00      0      0    7.9250        S  NaN
217         0       2    male  42.00      1      0   27.0000        S  NaN
218         1       1  female  32.00      0      0   76.2917        C    D
219         0       2    male  30.00      0      0   10.5000        S  NaN
220         1       3    male  16.00      0      0    8.0500        S  NaN
221         0       2    male  27.00      0      0   13.0000        S  NaN
222         0       3    male  51.00      0      0    8.0500        S  NaN
223         0       3    male    NaN      0      0    7.8958        S  NaN
224         1       1    male  38.00      1      0   90.0000        S    C
225         0       3    male  22.00      0      0    9.3500        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
227         0       3    male  20.50      0      0    7.2500        S  NaN
228         0       2    male  18.00      0      0   13.0000        S  NaN
229         0       3  female    NaN      3      1   25.4667        S  NaN
230         1       1  female  35.00      1      0   83.4750        S    C
231         0       3    male  29.00      0      0    7.7750        S  NaN
232         0       2    male  59.00      0      0   13.5000        S  NaN
233         1       3  female   5.00      4      2   31.3875        S  NaN
234         0       2    male  24.00      0      0   10.5000        S  NaN
235         0       3  female    NaN      0      0    7.5500        S  NaN
236         0       2    male  44.00      1      0   26.0000        S  NaN
237         1       2  female   8.00      0      2   26.2500        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
239         0       2    male  33.00      0      0   12.2750        S  NaN
240         0       3  female    NaN      1      0   14.4542        C  NaN
241         1       3  female    NaN      1      0   15.5000        Q  NaN
242         0       2    male  29.00      0      0   10.5000        S  NaN
243         0       3    male  22.00      0      0    7.1250        S  NaN
244         0       3    male  30.00      0      0    7.2250        C  NaN
245         0       1    male  44.00      2      0   90.0000        Q    C
246         0       3  female  25.00      0      0    7.7750        S  NaN
247         1       2  female  24.00      0      2   14.5000        S  NaN
248         1       1    male  37.00      1      1   52.5542        S    D
249         0       2    male  54.00      1      0   26.0000        S  NaN
250         0       3    male    NaN      0      0    7.2500        S  NaN
251         0       3  female  29.00      1      1   10.4625        S    G
252         0       1    male  62.00      0      0   26.5500        S    C
253         0       3    male  30.00      1      0   16.1000        S  NaN
254         0       3  female  41.00      0      2   20.2125        S  NaN
255         1       3  female  29.00      0      2   15.2458        C  NaN
256         1       1  female    NaN      0      0   79.2000        C  NaN
257         1       1  female  30.00      0      0   86.5000        S    B
258         1       1  female  35.00      0      0  512.3292        C  NaN
259         1       2  female  50.00      0      1   26.0000        S  NaN
260         0       3    male    NaN      0      0    7.7500        Q  NaN
261         1       3    male   3.00      4      2   31.3875        S  NaN
262         0       1    male  52.00      1      1   79.6500        S    E
263         0       1    male  40.00      0      0    0.0000        S    B
264         0       3  female    NaN      0      0    7.7500        Q  NaN

In [27]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [28]:
titanic.head(10)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN
5         0       3    male   NaN      0      0   8.4583        Q  NaN
6         0       1    male  54.0      0      0  51.8625        S    E
7         0       3    male   2.0      3      1  21.0750        S  NaN
8         1       3  female  27.0      0      2  11.1333        S  NaN
9         1       2  female  14.0      1      0  30.0708        C  NaN

In [29]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [30]:
titanic.tail(10)

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
881         0       3    male  33.0      0      0   7.8958        S  NaN
882         0       3  female  22.0      0      0  10.5167        S  NaN
883         0       2    male  28.0      0      0  10.5000        S  NaN
884         0       3    male  25.0      0      0   7.0500        S  NaN
885         0       3  female  39.0      0      5  29.1250        Q  NaN
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

In [31]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [32]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [33]:
titanic.describe(include= 'O')

         sex embarked deck
count    891      889  203
unique     2        3    7
top     male        S    C
freq     577      644   59

In [34]:
pd.options.display.max_rows=90

In [35]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [36]:
titanic.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [37]:
titanic['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [38]:
titanic['survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

In [39]:
titanic_new=titanic[['survived','sex','age']]

In [40]:
titanic_new

     survived     sex   age
0           0    male  22.0
1           1  female  38.0
2           1  female  26.0
3           1  female  35.0
4           0    male  35.0
..        ...     ...   ...
886         0    male  27.0
887         1  female  19.0
888         0  female   NaN
889         1    male  26.0
890         0    male  32.0

[891 rows x 3 columns]

In [41]:
titanic['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [62]:
import pandas as pd

In [63]:
titanic=pd.read_csv('titanic.csv')

In [64]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [65]:
titanic['total'] = titanic['sibsp']+ titanic['parch']

In [66]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,total
0,0,3,male,22.0,1,0,7.2500,S,NaN,1
1,1,1,female,38.0,1,0,71.2833,C,C,1
2,1,3,female,26.0,0,0,7.9250,S,NaN,0
3,1,1,female,35.0,1,0,53.1000,S,C,1
4,0,3,male,35.0,0,0,8.0500,S,NaN,0
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,0
887,1,1,female,19.0,0,0,30.0000,S,B,0
888,0,3,female,NaN,1,2,23.4500,S,NaN,3
889,1,1,male,26.0,0,0,30.0000,C,C,0
890,0,3,male,32.0,0,0,7.7500,Q,NaN,0

In [67]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck', 'total'],
      dtype='object')

In [68]:
cols = list(titanic.columns)

In [69]:
cols

['survived',
 'pclass',
 'sex',
 'age',
 'sibsp',
 'parch',
 'fare',
 'embarked',
 'deck',
 'total']

In [70]:
cols[0:4]

['survived', 'pclass', 'sex', 'age']

In [71]:
cols[-1]

'total'

In [72]:
cols[4:9]

['sibsp', 'parch', 'fare', 'embarked', 'deck']

In [73]:
cols[0:4]+[cols[-1]]+cols[5:9]

['survived',
 'pclass',
 'sex',
 'age',
 'total',
 'parch',
 'fare',
 'embarked',
 'deck']

In [54]:
## Attach to dataframe

In [55]:
titanic_new = titanic[['survived', 'pclass', 'sex', 'age', 'total', 'parch', 'fare', 'embarked', 'deck']]

In [56]:
titanic_new

     survived  pclass     sex   age  total  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      3      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [74]:
titanic=titanic[cols[0:4]+[cols[-1]]+cols[4:9]]

In [75]:
titanic

,survived,pclass,sex,age,total,sibsp,parch,fare,embarked,deck
0,0,3,male,22.0,1,1,0,7.2500,S,NaN
1,1,1,female,38.0,1,1,0,71.2833,C,C
2,1,3,female,26.0,0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1,1,0,53.1000,S,C
4,0,3,male,35.0,0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,0,13.0000,S,NaN
887,1,1,female,19.0,0,0,0,30.0000,S,B
888,0,3,female,NaN,3,1,2,23.4500,S,NaN
889,1,1,male,26.0,0,0,0,30.0000,C,C
890,0,3,male,32.0,0,0,0,7.7500,Q,NaN

## Deleting the column[] from data

In [76]:
titanic.drop(['sibsp','parch'], axis=1,inplace=True)

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [77]:
titanic

     survived  pclass     sex   age  total     fare embarked deck
0           0       3    male  22.0      1   7.2500        S  NaN
1           1       1  female  38.0      1  71.2833        C    C
2           1       3  female  26.0      0   7.9250        S  NaN
3           1       1  female  35.0      1  53.1000        S    C
4           0       3    male  35.0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...      ...      ...  ...
886         0       2    male  27.0      0  13.0000        S  NaN
887         1       1  female  19.0      0  30.0000        S    B
888         0       3  female   NaN      3  23.4500        S  NaN
889         1       1    male  26.0      0  30.0000        C    C
890         0       3    male  32.0      0   7.7500        Q  NaN

[891 rows x 8 columns]

## Accesing rows and columns in a dataset

## Using loc and iloc

In [78]:
titanic.iloc[1:10,[2,5]]

      sex     fare
1  female  71.2833
2  female   7.9250
3  female  53.1000
4    male   8.0500
5    male   8.4583
6    male  51.8625
7    male  21.0750
8  female  11.1333
9  female  30.0708

In [79]:
titanic.loc[1:10,['sex','age']]

       sex   age
1   female  38.0
2   female  26.0
3   female  35.0
4     male  35.0
5     male   NaN
6     male  54.0
7     male   2.0
8   female  27.0
9   female  14.0
10  female   4.0

In [80]:
titanic.loc[:,['age','fare']]

      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [81]:
titanic.iloc[880:890,[2,4]]

        sex  total
880  female      1
881    male      0
882  female      0
883    male      0
884    male      0
885  female      5
886    male      0
887  female      0
888  female      3
889    male      0

In [82]:
titanic.loc[880:890,['fare','age']]

        fare   age
880  26.0000  25.0
881   7.8958  33.0
882  10.5167  22.0
883  10.5000  28.0
884   7.0500  25.0
885  29.1250  39.0
886  13.0000  27.0
887  30.0000  19.0
888  23.4500   NaN
889  30.0000  26.0
890   7.7500  32.0

In [83]:
titanic.loc[10:11,['age','deck']]

     age deck
10   4.0    G
11  58.0    C

In [84]:
titanic.iloc[:,[1]]

     pclass
0         3
1         1
2         3
3         1
4         3
..      ...
886       2
887       1
888       3
889       1
890       3

[891 rows x 1 columns]

In [85]:
titanic.loc[:,['pclass']]

     pclass
0         3
1         1
2         3
3         1
4         3
..      ...
886       2
887       1
888       3
889       1
890       3

[891 rows x 1 columns]

## Renaming column of the dataframe

In [87]:
titanic

     survived  pclass     sex   age  total     fare embarked deck
0           0       3    male  22.0      1   7.2500        S  NaN
1           1       1  female  38.0      1  71.2833        C    C
2           1       3  female  26.0      0   7.9250        S  NaN
3           1       1  female  35.0      1  53.1000        S    C
4           0       3    male  35.0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...      ...      ...  ...
886         0       2    male  27.0      0  13.0000        S  NaN
887         1       1  female  19.0      0  30.0000        S    B
888         0       3  female   NaN      3  23.4500        S  NaN
889         1       1    male  26.0      0  30.0000        C    C
890         0       3    male  32.0      0   7.7500        Q  NaN

[891 rows x 8 columns]

In [88]:
titanic.rename(columns={'total':'along_with_passanger'},inplace=True)

C:\Users\User\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [89]:
titanic

,survived,pclass,sex,age,along_with_passanger,fare,embarked,deck
0,0,3,male,22.0,1,7.2500,S,NaN
1,1,1,female,38.0,1,71.2833,C,C
2,1,3,female,26.0,0,7.9250,S,NaN
3,1,1,female,35.0,1,53.1000,S,C
4,0,3,male,35.0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,13.0000,S,NaN
887,1,1,female,19.0,0,30.0000,S,B
888,0,3,female,NaN,3,23.4500,S,NaN
889,1,1,male,26.0,0,30.0000,C,C
890,0,3,male,32.0,0,7.7500,Q,NaN

In [90]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'along_with_passanger', 'fare',
       'embarked', 'deck'],
      dtype='object')

In [91]:
x=titanic['along_with_passanger']

In [92]:
x

0      1
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    3
889    0
890    0
Name: along_with_passanger, Length: 891, dtype: int64

In [93]:
type(x)

pandas.core.series.Series

In [94]:
titanic.columns=titanic.columns.str.replace('_','')

In [95]:
titanic

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
0           0       3    male  22.0                   1   7.2500        S  NaN
1           1       1  female  38.0                   1  71.2833        C    C
2           1       3  female  26.0                   0   7.9250        S  NaN
3           1       1  female  35.0                   1  53.1000        S    C
4           0       3    male  35.0                   0   8.0500        S  NaN
..        ...     ...     ...   ...                 ...      ...      ...  ...
886         0       2    male  27.0                   0  13.0000        S  NaN
887         1       1  female  19.0                   0  30.0000        S    B
888         0       3  female   NaN                   3  23.4500        S  NaN
889         1       1    male  26.0                   0  30.0000        C    C
890         0       3    male  32.0                   0   7.7500        Q  NaN

[891 rows x 8 columns]

In [96]:
titanic_female=titanic[titanic['sex']=='female']

In [97]:
titanic_female

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
1           1       1  female  38.0                   1  71.2833        C    C
2           1       3  female  26.0                   0   7.9250        S  NaN
3           1       1  female  35.0                   1  53.1000        S    C
8           1       3  female  27.0                   2  11.1333        S  NaN
9           1       2  female  14.0                   1  30.0708        C  NaN
..        ...     ...     ...   ...                 ...      ...      ...  ...
880         1       2  female  25.0                   1  26.0000        S  NaN
882         0       3  female  22.0                   0  10.5167        S  NaN
885         0       3  female  39.0                   5  29.1250        Q  NaN
887         1       1  female  19.0                   0  30.0000        S    B
888         0       3  female   NaN                   3  23.4500        S  NaN

[314 rows x 8 columns]

In [98]:
titanic_male=titanic[titanic['sex']=='male']

In [99]:
titanic_male

     survived  pclass   sex   age  alongwithpassanger     fare embarked deck
0           0       3  male  22.0                   1   7.2500        S  NaN
4           0       3  male  35.0                   0   8.0500        S  NaN
5           0       3  male   NaN                   0   8.4583        Q  NaN
6           0       1  male  54.0                   0  51.8625        S    E
7           0       3  male   2.0                   4  21.0750        S  NaN
..        ...     ...   ...   ...                 ...      ...      ...  ...
883         0       2  male  28.0                   0  10.5000        S  NaN
884         0       3  male  25.0                   0   7.0500        S  NaN
886         0       2  male  27.0                   0  13.0000        S  NaN
889         1       1  male  26.0                   0  30.0000        C    C
890         0       3  male  32.0                   0   7.7500        Q  NaN

[577 rows x 8 columns]

In [100]:
titanic_female.describe()

         survived      pclass         age  alongwithpassanger        fare
count  314.000000  314.000000  261.000000          314.000000  314.000000
mean     0.742038    2.159236   27.915709            1.343949   44.479818
std      0.438211    0.857290   14.110146            1.755733   57.997698
min      0.000000    1.000000    0.750000            0.000000    6.750000
25%      0.000000    1.000000   18.000000            0.000000   12.071875
50%      1.000000    2.000000   27.000000            1.000000   23.000000
75%      1.000000    3.000000   37.000000            2.000000   55.000000
max      1.000000    3.000000   63.000000           10.000000  512.329200

In [101]:
titanic_male.describe()

         survived      pclass         age  alongwithpassanger        fare
count  577.000000  577.000000  453.000000          577.000000  577.000000
mean     0.188908    2.389948   30.726645            0.665511   25.523893
std      0.391775    0.813580   14.678201            1.478106   43.138263
min      0.000000    1.000000    0.420000            0.000000    0.000000
25%      0.000000    2.000000   21.000000            0.000000    7.895800
50%      0.000000    3.000000   29.000000            0.000000   10.500000
75%      0.000000    3.000000   39.000000            1.000000   26.550000
max      1.000000    3.000000   80.000000           10.000000  512.329200

In [103]:
female_kid=titanic[(titanic['sex']=='female') & (titanic['age']<18)]

In [104]:
female_kid

,survived,pclass,sex,age,alongwithpassanger,fare,embarked,deck
9,1,2,female,14.00,1,30.0708,C,NaN
10,1,3,female,4.00,2,16.7000,S,G
14,0,3,female,14.00,0,7.8542,S,NaN
22,1,3,female,15.00,0,8.0292,Q,NaN
24,0,3,female,8.00,4,21.0750,S,NaN
39,1,3,female,14.00,1,11.2417,C,NaN
43,1,2,female,3.00,3,41.5792,C,NaN
58,1,2,female,5.00,3,27.7500,S,NaN
68,1,3,female,17.00,6,7.9250,S,NaN
71,0,3,female,16.00,7,46.9000,S,NaN
84,1,2,female,17.00,0,10.5000,S,NaN
111,0,3,female,14.50,1,14.4542,C,NaN
114,0,3,female,17.00,0,14.4583,C,NaN
119,0,3,female,2.00,6,31.2750,S,NaN
147,0,3,female,9.00,4,34.3750,S,NaN
156,1,3,female,16.00,0,7.7333,Q,NaN
172,1,3,female,1.00,2,11.1333,S,NaN
184,1,3,female,4.00,2,22.0250,S,NaN
205,0,3,female,2.00,1,10.4625,S,G
208,1,3,female,16.00,0,7.7500,Q,NaN
233,1,3,female,5.00,6,31.3875,S,NaN
237,1,2,female,8.00,2,26.2500,S,NaN
297,0,1,female,2.00,3,151.5500,S,C
307,1,1,female,17.00,1,108.9000,C,C
329,1,1,female,16.00,1,57.9792,C,B
374,0,3,female,3.00,4,21.0750,S,NaN
381,1,3,female,1.00,2,15.7417,C,NaN
389,1,2,female,17.00,0,12.0000,C,NaN
419,0,3,female,10.00,2,24.1500,S,NaN
435,1,1,female,14.00,3,120.0000,S,B
446,1,2,female,13.00,1,19.5000,S,NaN
448,1,3,female,5.00,3,19.2583,C,NaN
469,1,3,female,0.75,3,19.2583,C,NaN
479,1,3,female,2.00,1,12.2875,S,NaN
504,1,1,female,16.00,0,86.5000,S,B
530,1,2,female,2.00,2,26.0000,S,NaN
535,1,2,female,7.00,2,26.2500,S,NaN
541,0,3,female,9.00,6,31.2750,S,NaN
542,0,3,female,11.00,6,31.2750,S,NaN
618,1,2,female,4.00,3,39.0000,S,F
634,0,3,female,9.00,5,27.9000,S,NaN
642,0,3,female,2.00,5,27.9000,S,NaN
644,1,3,female,0.75,3,19.2583,C,NaN
689,1,1,female,15.00,1,211.3375,S,B
691,1,3,female,4.00,1,13.4167,C,NaN
720,1,2,female,6.00,1,33.0000,S,NaN
750,1,2,female,4.00,2,23.0000,S,NaN
777,1,3,female,5.00,0,12.4750,S,NaN
780,1,3,female,13.00,0,7.2292,C,NaN
781,1,1,female,17.00,1,57.0000,S,B
813,0,3,female,6.00,6,31.2750,S,NaN
830,1,3,female,15.00,1,14.4542,C,NaN
852,0,3,female,9.00,2,15.2458,C,NaN
853,1,1,female,16.00,1,39.4000,S,D
875,1,3,female,15.00,0,7.2250,C,NaN

In [105]:
female_kid.describe()

        survived     pclass        age  alongwithpassanger        fare
count  55.000000  55.000000  55.000000           55.000000   55.000000
mean    0.690909   2.490909   9.236364            2.236364   32.782653
std     0.466378   0.742187   5.820307            1.990381   37.319500
min     0.000000   1.000000   0.750000            0.000000    7.225000
25%     0.000000   2.000000   4.000000            1.000000   12.945850
50%     1.000000   3.000000   9.000000            2.000000   22.025000
75%     1.000000   3.000000  15.000000            3.000000   31.331250
max     1.000000   3.000000  17.000000            7.000000  211.337500

In [106]:
male_kid=titanic[(titanic['sex']=='male') & (titanic['age']<18)]

In [107]:
male_kid

     survived  pclass   sex    age  alongwithpassanger      fare embarked deck
7           0       3  male   2.00                   4   21.0750        S  NaN
16          0       3  male   2.00                   5   29.1250        Q  NaN
50          0       3  male   7.00                   5   39.6875        S  NaN
59          0       3  male  11.00                   7   46.9000        S  NaN
63          0       3  male   4.00                   5   27.9000        S  NaN
78          1       2  male   0.83                   2   29.0000        S  NaN
86          0       3  male  16.00                   4   34.3750        S  NaN
125         1       3  male  12.00                   1   11.2417        C  NaN
138         0       3  male  16.00                   0    9.2167        S  NaN
163         0       3  male  17.00                   0    8.6625        S  NaN
164         0       3  male   1.00                   5   39.6875        S  NaN
165         1       3  male   9.00                   2   20.5250        S  NaN
171         0       3  male   4.00                   5   29.1250        Q  NaN
182         0       3  male   9.00                   6   31.3875        S  NaN
183         1       2  male   1.00                   3   39.0000        S    F
193         1       2  male   3.00                   2   26.0000        S    F
220         1       3  male  16.00                   0    8.0500        S  NaN
261         1       3  male   3.00                   6   31.3875        S  NaN
266         0       3  male  16.00                   5   39.6875        S  NaN
278         0       3  male   7.00                   5   29.1250        Q  NaN
282         0       3  male  16.00                   0    9.5000        S  NaN
305         1       1  male   0.92                   3  151.5500        S    C
333         0       3  male  16.00                   2   18.0000        S  NaN
340         1       2  male   2.00                   2   26.0000        S    F
348         1       3  male   3.00                   2   15.9000        S  NaN
352         0       3  male  15.00                   2    7.2292        C  NaN
386         0       3  male   1.00                   7   46.9000        S  NaN
407         1       2  male   3.00                   2   18.7500        S  NaN
433         0       3  male  17.00                   0    7.1250        S  NaN
445         1       1  male   4.00                   2   81.8583        S    A
480         0       3  male   9.00                   7   46.9000        S  NaN
489         1       3  male   9.00                   2   15.9000        S  NaN
500         0       3  male  17.00                   0    8.6625        S  NaN
532         0       3  male  17.00                   2    7.2292        C  NaN
549         1       2  male   8.00                   2   36.7500        S  NaN
550         1       1  male  17.00                   2  110.8833        C    C
574         0       3  male  16.00                   0    8.0500        S  NaN
683         0       3  male  14.00                   7   46.9000        S  NaN
686         0       3  male  14.00                   5   39.6875        S  NaN
721         0       3  male  17.00                   1    7.0542        S  NaN
731         0       3  male  11.00                   0   18.7875        C  NaN
746         0       3  male  16.00                   2   20.2500        S  NaN
751         1       3  male   6.00                   1   12.4750        S    E
755         1       2  male   0.67                   2   14.5000        S  NaN
764         0       3  male  16.00                   0    7.7750        S  NaN
787         0       3  male   8.00                   5   29.1250        Q  NaN
788         1       3  male   1.00                   3   20.5750        S  NaN
791         0       2  male  16.00                   0   26.0000        S  NaN
802         1       1  male  11.00                   3  120.0000        S    B
803         1       3  male   0.42                   1    8.5167        C  NaN
819         0       3  male  10.00                   5   27.9000        S  NaN
824         0       3  male   2.00                   5   39.6875        S  NaN
827         1       2  male   1.00                   2   37.0042        C  NaN
831         1       2  male   0.83                   2   18.7500        S  NaN
841         0       2  male  16.00                   0   10.5000        S  NaN
844         0       3  male  17.00                   0    8.6625        S  NaN
850         0       3  male   4.00                   6   31.2750        S  NaN
869         1       3  male   4.00                   2   11.1333        S  NaN

In [108]:
male_kid.describe()

        survived     pclass        age  alongwithpassanger        fare
count  58.000000  58.000000  58.000000           58.000000   58.000000
mean    0.396552   2.672414   8.856379            2.775862   29.739729
std     0.493454   0.603729   6.268262            2.200822   27.500510
min     0.000000   1.000000   0.420000            0.000000    7.054200
25%     0.000000   2.250000   3.000000            1.000000   11.160400
50%     0.000000   3.000000   9.000000            2.000000   26.000000
75%     1.000000   3.000000  16.000000            5.000000   36.940650
max     1.000000   3.000000  17.000000            7.000000  151.550000

In [109]:
p1=titanic[(titanic['sex']=='female') & (titanic['pclass']==1)]

In [110]:
p1

,survived,pclass,sex,age,alongwithpassanger,fare,embarked,deck
1,1,1,female,38.0,1,71.2833,C,C
3,1,1,female,35.0,1,53.1000,S,C
11,1,1,female,58.0,0,26.5500,S,C
31,1,1,female,NaN,1,146.5208,C,B
52,1,1,female,49.0,1,76.7292,C,D
...,...,...,...,...,...,...,...,...
856,1,1,female,45.0,2,164.8667,S,NaN
862,1,1,female,48.0,0,25.9292,S,D
871,1,1,female,47.0,2,52.5542,S,D
879,1,1,female,56.0,1,83.1583,C,C
887,1,1,female,19.0,0,30.0000,S,B

In [111]:
p2=titanic[(titanic['sex']=='female') & (titanic['pclass']==2)]

In [112]:
p2

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
9           1       2  female  14.0                   1  30.0708        C  NaN
15          1       2  female  55.0                   0  16.0000        S  NaN
41          0       2  female  27.0                   1  21.0000        S  NaN
43          1       2  female   3.0                   3  41.5792        C  NaN
53          1       2  female  29.0                   1  26.0000        S  NaN
56          1       2  female  21.0                   0  10.5000        S  NaN
58          1       2  female   5.0                   3  27.7500        S  NaN
66          1       2  female  29.0                   0  10.5000        S    F
84          1       2  female  17.0                   0  10.5000        S  NaN
98          1       2  female  34.0                   1  23.0000        S  NaN
123         1       2  female  32.5                   0  13.0000        S    E
133         1       2  female  29.0                   1  26.0000        S  NaN
161         1       2  female  40.0                   0  15.7500        S  NaN
190         1       2  female  32.0                   0  13.0000        S  NaN
199         0       2  female  24.0                   0  13.0000        S  NaN
211         1       2  female  35.0                   0  21.0000        S  NaN
237         1       2  female   8.0                   2  26.2500        S  NaN
247         1       2  female  24.0                   2  14.5000        S  NaN
259         1       2  female  50.0                   1  26.0000        S  NaN
272         1       2  female  41.0                   1  19.5000        S  NaN
303         1       2  female   NaN                   0  12.3500        Q    E
312         0       2  female  26.0                   2  26.0000        S  NaN
316         1       2  female  24.0                   1  26.0000        S  NaN
322         1       2  female  30.0                   0  12.3500        Q  NaN
323         1       2  female  22.0                   2  29.0000        S  NaN
327         1       2  female  36.0                   0  13.0000        S    D
345         1       2  female  24.0                   0  13.0000        S    F
346         1       2  female  40.0                   0  13.0000        S  NaN
357         0       2  female  38.0                   0  13.0000        S  NaN
387         1       2  female  36.0                   0  13.0000        S  NaN
389         1       2  female  17.0                   0  12.0000        C  NaN
399         1       2  female  28.0                   0  12.6500        S  NaN
416         1       2  female  34.0                   2  32.5000        S  NaN
417         1       2  female  18.0                   2  13.0000        S  NaN
426         1       2  female  28.0                   1  26.0000        S  NaN
427         1       2  female  19.0                   0  26.0000        S  NaN
432         1       2  female  42.0                   1  26.0000        S  NaN
437         1       2  female  24.0                   5  18.7500        S  NaN
440         1       2  female  45.0                   2  26.2500        S  NaN
443         1       2  female  28.0                   0  13.0000        S  NaN
446         1       2  female  13.0                   1  19.5000        S  NaN
458         1       2  female  50.0                   0  10.5000        S  NaN
472         1       2  female  33.0                   3  27.7500        S  NaN
473         1       2  female  23.0                   0  13.7917        C    D
506         1       2  female  33.0                   2  26.0000        S  NaN
516         1       2  female  34.0                   0  10.5000        S    F
518         1       2  female  36.0                   1  26.0000        S  NaN
526         1       2  female  50.0                   0  10.5000        S  NaN
530         1       2  female   2.0                   2  26.0000        S  NaN
535         1       2  female   7.0                   2  26.2500        S  NaN
546         1       2  female  19.0                   1  26.0000        S  NaN
576         1       2  female  34.0                   0  13.0000        S  NaN
580         1       2  female  25.0                   2  30.0000        S  NaN
596         1       2  female   NaN                   0  33.0000        S  NaN
600         1       2  female  24.0                   3  27.0000        S  NaN
608         1       2  female  22.0                   3  41.5792        C  NaN
615         1       2  female  24.0                   3  65.0000        S  NaN
618         1       2  female   4.0                   3  39.0000        S    F
635         1       2  female  28.0                   0  13.0000        S  NaN
651         1       2  female  18.0                   1  23.0000        S  NaN
670         1       2  female  40.0                   2  39.0000        S  NaN
706         1       2  female  45.0                   0  13.5000        S  NaN
717         1       2  female  27.0                   0  10.5000        S    E
720         1       2  female   6.0                   1  33.0000        S  NaN
726         1       2  female  30.0                   3  21.0000        S  NaN
747         1       2  female  30.0                   0  13.0000        S  NaN
750         1       2  female   4.0                   2  23.0000        S  NaN
754         1       2  female  48.0                   3  65.0000        S  NaN
772         0       2  female  57.0                   0  10.5000        S    E
774         1       2  female  54.0                   4  23.0000        S  NaN
801         1       2  female  31.0                   2  26.2500        S  NaN
854         0       2  female  44.0                   1  26.0000        S  NaN
865         1       2  female  42.0                   0  13.0000        S  NaN
866         1       2  female  27.0                   1  13.8583        C  NaN
874         1       2  female  28.0                   1  24.0000        C  NaN
880         1       2  female  25.0                   1  26.0000        S  NaN

In [113]:
p3=titanic[(titanic['sex']=='female') & (titanic['pclass']==3)]

In [114]:
p3

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
2           1       3  female  26.0                   0   7.9250        S  NaN
8           1       3  female  27.0                   2  11.1333        S  NaN
10          1       3  female   4.0                   2  16.7000        S    G
14          0       3  female  14.0                   0   7.8542        S  NaN
18          0       3  female  31.0                   1  18.0000        S  NaN
..        ...     ...     ...   ...                 ...      ...      ...  ...
863         0       3  female   NaN                  10  69.5500        S  NaN
875         1       3  female  15.0                   0   7.2250        C  NaN
882         0       3  female  22.0                   0  10.5167        S  NaN
885         0       3  female  39.0                   5  29.1250        Q  NaN
888         0       3  female   NaN                   3  23.4500        S  NaN

[144 rows x 8 columns]

In [115]:
p1.describe()

        survived  pclass        age  alongwithpassanger        fare
count  94.000000    94.0  85.000000           94.000000   94.000000
mean    0.968085     1.0  34.611765            1.010638  106.125798
std     0.176716     0.0  13.612052            1.102243   74.259988
min     0.000000     1.0   2.000000            0.000000   25.929200
25%     1.000000     1.0  23.000000            0.000000   57.244800
50%     1.000000     1.0  35.000000            1.000000   82.664550
75%     1.000000     1.0  44.000000            1.000000  134.500000
max     1.000000     1.0  63.000000            5.000000  512.329200

In [116]:
p2.describe()

        survived  pclass        age  alongwithpassanger       fare
count  76.000000    76.0  74.000000           76.000000  76.000000
mean    0.921053     2.0  28.722973            1.092105  21.970121
std     0.271448     0.0  12.872702            1.190828  10.891796
min     0.000000     2.0   2.000000            0.000000  10.500000
25%     1.000000     2.0  22.250000            0.000000  13.000000
50%     1.000000     2.0  28.000000            1.000000  22.000000
75%     1.000000     2.0  36.000000            2.000000  26.062500
max     1.000000     2.0  57.000000            5.000000  65.000000

In [117]:
p3.describe()

         survived  pclass         age  alongwithpassanger        fare
count  144.000000   144.0  102.000000          144.000000  144.000000
mean     0.500000     3.0   21.750000            1.694444   16.118810
std      0.501745     0.0   12.729964            2.232242   11.690314
min      0.000000     3.0    0.750000            0.000000    6.750000
25%      0.000000     3.0   14.125000            0.000000    7.854200
50%      0.500000     3.0   21.500000            1.000000   12.475000
75%      1.000000     3.0   29.750000            2.000000   20.221875
max      1.000000     3.0   63.000000           10.000000   69.550000

In [118]:
emb_c=titanic[titanic['embarked']=='C']

In [119]:
emb_c

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
1           1       1  female  38.0                   1  71.2833        C    C
9           1       2  female  14.0                   1  30.0708        C  NaN
19          1       3  female   NaN                   0   7.2250        C  NaN
26          0       3    male   NaN                   0   7.2250        C  NaN
30          0       1    male  40.0                   0  27.7208        C  NaN
..        ...     ...     ...   ...                 ...      ...      ...  ...
866         1       2  female  27.0                   1  13.8583        C  NaN
874         1       2  female  28.0                   1  24.0000        C  NaN
875         1       3  female  15.0                   0   7.2250        C  NaN
879         1       1  female  56.0                   1  83.1583        C    C
889         1       1    male  26.0                   0  30.0000        C    C

[168 rows x 8 columns]

In [120]:
emb_c.describe()

         survived      pclass         age  alongwithpassanger        fare
count  168.000000  168.000000  130.000000          168.000000  168.000000
mean     0.553571    1.886905   30.814769            0.750000   59.954144
std      0.498608    0.944100   15.434860            0.926974   83.912994
min      0.000000    1.000000    0.420000            0.000000    4.012500
25%      0.000000    1.000000   21.250000            0.000000   13.697950
50%      1.000000    1.000000   29.000000            0.000000   29.700000
75%      1.000000    3.000000   40.000000            1.000000   78.500025
max      1.000000    3.000000   71.000000            4.000000  512.329200

In [121]:
emb_q=titanic[titanic['embarked']=='Q']

In [122]:
emb_q

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
5           0       3    male   NaN                   0   8.4583        Q  NaN
16          0       3    male   2.0                   5  29.1250        Q  NaN
22          1       3  female  15.0                   0   8.0292        Q  NaN
28          1       3  female   NaN                   0   7.8792        Q  NaN
32          1       3  female   NaN                   0   7.7500        Q  NaN
44          1       3  female  19.0                   0   7.8792        Q  NaN
46          0       3    male   NaN                   1  15.5000        Q  NaN
47          1       3  female   NaN                   0   7.7500        Q  NaN
82          1       3  female   NaN                   0   7.7875        Q  NaN
109         1       3  female   NaN                   1  24.1500        Q  NaN
116         0       3    male  70.5                   0   7.7500        Q  NaN
126         0       3    male   NaN                   0   7.7500        Q  NaN
143         0       3    male  19.0                   0   6.7500        Q  NaN
156         1       3  female  16.0                   0   7.7333        Q  NaN
171         0       3    male   4.0                   5  29.1250        Q  NaN
186         1       3  female   NaN                   1  15.5000        Q  NaN
188         0       3    male  40.0                   2  15.5000        Q  NaN
196         0       3    male   NaN                   0   7.7500        Q  NaN
198         1       3  female   NaN                   0   7.7500        Q  NaN
208         1       3  female  16.0                   0   7.7500        Q  NaN
214         0       3    male   NaN                   1   7.7500        Q  NaN
241         1       3  female   NaN                   1  15.5000        Q  NaN
245         0       1    male  44.0                   2  90.0000        Q    C
260         0       3    male   NaN                   0   7.7500        Q  NaN
264         0       3  female   NaN                   0   7.7500        Q  NaN
274         1       3  female   NaN                   0   7.7500        Q  NaN
278         0       3    male   7.0                   5  29.1250        Q  NaN
280         0       3    male  65.0                   0   7.7500        Q  NaN
289         1       3  female  22.0                   0   7.7500        Q  NaN
300         1       3  female   NaN                   0   7.7500        Q  NaN
301         1       3    male   NaN                   2  23.2500        Q  NaN
303         1       2  female   NaN                   0  12.3500        Q    E
322         1       2  female  30.0                   0  12.3500        Q  NaN
330         1       3  female   NaN                   2  23.2500        Q  NaN
358         1       3  female   NaN                   0   7.8792        Q  NaN
359         1       3  female   NaN                   0   7.8792        Q  NaN
364         0       3    male   NaN                   1  15.5000        Q  NaN
368         1       3  female   NaN                   0   7.7500        Q  NaN
388         0       3    male   NaN                   0   7.7292        Q  NaN
411         0       3    male   NaN                   0   6.8583        Q  NaN
412         1       1  female  33.0                   1  90.0000        Q    C
421         0       3    male  21.0                   0   7.7333        Q  NaN
428         0       3    male   NaN                   0   7.7500        Q  NaN
459         0       3    male   NaN                   0   7.7500        Q  NaN
468         0       3    male   NaN                   0   7.7250        Q  NaN
501         0       3  female  21.0                   0   7.7500        Q  NaN
502         0       3  female   NaN                   0   7.6292        Q  NaN
510         1       3    male  29.0                   0   7.7500        Q  NaN
517         0       3    male   NaN                   0  24.1500        Q  NaN
525         0       3    male  40.5                   0   7.7500        Q  NaN
552         0       3    male   NaN                   0   7.8292        Q  NaN
560         0       3    male   NaN                   0   7.7500        Q  NaN
573         1       3  female   NaN                   0   7.7500        Q  NaN
593         0       3  female   NaN                   2   7.7500        Q  NaN
612         1       3  female   NaN                   1  15.5000        Q  NaN
613         0       3    male   NaN                   0   7.7500        Q  NaN
626         0       2    male  57.0                   0  12.3500        Q  NaN
629         0       3    male   NaN                   0   7.7333        Q  NaN
653         1       3  female   NaN                   0   7.8292        Q  NaN
654         0       3  female  18.0                   0   6.7500        Q  NaN
657         0       3  female  32.0                   2  15.5000        Q  NaN
680         0       3  female   NaN                   0   8.1375        Q  NaN
697         1       3  female   NaN                   0   7.7333        Q  NaN
703         0       3    male  25.0                   0   7.7417        Q  NaN
718         0       3    male   NaN                   0  15.5000        Q  NaN
727         1       3  female   NaN                   0   7.7375        Q  NaN
749         0       3    male  31.0                   0   7.7500        Q  NaN
767         0       3  female  30.5                   0   7.7500        Q  NaN
768         0       3    male   NaN                   1  24.1500        Q  NaN
776         0       3    male   NaN                   0   7.7500        Q    F
778         0       3    male   NaN                   0   7.7375        Q  NaN
787         0       3    male   8.0                   5  29.1250        Q  NaN
790         0       3    male   NaN                   0   7.7500        Q  NaN
825         0       3    male   NaN                   0   6.9500        Q  NaN
828         1       3    male   NaN                   0   7.7500        Q  NaN
885         0       3  female  39.0                   5  29.1250        Q  NaN
890         0       3    male  32.0                   0   7.7500        Q  NaN

In [123]:
emb_q.describe()

       survived     pclass        age  alongwithpassanger       fare
count  77.00000  77.000000  28.000000           77.000000  77.000000
mean    0.38961   2.909091  28.089286            0.597403  13.276030
std     0.49086   0.369274  16.915396            1.310481  14.188047
min     0.00000   1.000000   2.000000            0.000000   6.750000
25%     0.00000   3.000000  17.500000            0.000000   7.750000
50%     0.00000   3.000000  27.000000            0.000000   7.750000
75%     1.00000   3.000000  34.500000            1.000000  15.500000
max     1.00000   3.000000  70.500000            5.000000  90.000000

In [124]:
emb_s=titanic[titanic['embarked']=='S']

In [125]:
emb_s

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
0           0       3    male  22.0                   1   7.2500        S  NaN
2           1       3  female  26.0                   0   7.9250        S  NaN
3           1       1  female  35.0                   1  53.1000        S    C
4           0       3    male  35.0                   0   8.0500        S  NaN
6           0       1    male  54.0                   0  51.8625        S    E
..        ...     ...     ...   ...                 ...      ...      ...  ...
883         0       2    male  28.0                   0  10.5000        S  NaN
884         0       3    male  25.0                   0   7.0500        S  NaN
886         0       2    male  27.0                   0  13.0000        S  NaN
887         1       1  female  19.0                   0  30.0000        S    B
888         0       3  female   NaN                   3  23.4500        S  NaN

[644 rows x 8 columns]

In [126]:
emb_s.describe()

         survived      pclass         age  alongwithpassanger        fare
count  644.000000  644.000000  554.000000          644.000000  644.000000
mean     0.336957    2.350932   29.445397            0.984472   27.079812
std      0.473037    0.789402   14.143192            1.774997   35.887993
min      0.000000    1.000000    0.670000            0.000000    0.000000
25%      0.000000    2.000000   21.000000            0.000000    8.050000
50%      0.000000    3.000000   28.000000            0.000000   13.000000
75%      1.000000    3.000000   38.000000            1.000000   27.900000
max      1.000000    3.000000   80.000000           10.000000  263.000000

In [127]:
titanic

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
0           0       3    male  22.0                   1   7.2500        S  NaN
1           1       1  female  38.0                   1  71.2833        C    C
2           1       3  female  26.0                   0   7.9250        S  NaN
3           1       1  female  35.0                   1  53.1000        S    C
4           0       3    male  35.0                   0   8.0500        S  NaN
..        ...     ...     ...   ...                 ...      ...      ...  ...
886         0       2    male  27.0                   0  13.0000        S  NaN
887         1       1  female  19.0                   0  30.0000        S    B
888         0       3  female   NaN                   3  23.4500        S  NaN
889         1       1    male  26.0                   0  30.0000        C    C
890         0       3    male  32.0                   0   7.7500        Q  NaN

[891 rows x 8 columns]

In [128]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   survived            891 non-null    int64
 1   pclass              891 non-null    int64
 2   sex                 891 non-null    object
 3   age                 714 non-null    float64
 4   alongwithpassanger  891 non-null    int64
 5   fare                891 non-null    float64
 6   embarked            889 non-null    object
 7   deck                203 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

In [132]:
titanic.dtypes

survived                int64
pclass                  int64
sex                    object
age                   float64
alongwithpassanger      int64
fare                  float64
embarked               object
deck                   object
dtype: object

In [133]:
titanic.select_dtypes(include = ['int','float'])

     survived  pclass   age  alongwithpassanger     fare
0           0       3  22.0                   1   7.2500
1           1       1  38.0                   1  71.2833
2           1       3  26.0                   0   7.9250
3           1       1  35.0                   1  53.1000
4           0       3  35.0                   0   8.0500
..        ...     ...   ...                 ...      ...
886         0       2  27.0                   0  13.0000
887         1       1  19.0                   0  30.0000
888         0       3   NaN                   3  23.4500
889         1       1  26.0                   0  30.0000
890         0       3  32.0                   0   7.7500

[891 rows x 5 columns]

In [134]:
titanic.select_dtypes(include = ['int'])

     survived  pclass  alongwithpassanger
0           0       3                   1
1           1       1                   1
2           1       3                   0
3           1       1                   1
4           0       3                   0
..        ...     ...                 ...
886         0       2                   0
887         1       1                   0
888         0       3                   3
889         1       1                   0
890         0       3                   0

[891 rows x 3 columns]

In [135]:
titanic.select_dtypes(include = ['int','object'])

     survived  pclass     sex  alongwithpassanger embarked deck
0           0       3    male                   1        S  NaN
1           1       1  female                   1        C    C
2           1       3  female                   0        S  NaN
3           1       1  female                   1        S    C
4           0       3    male                   0        S  NaN
..        ...     ...     ...                 ...      ...  ...
886         0       2    male                   0        S  NaN
887         1       1  female                   0        S    B
888         0       3  female                   3        S  NaN
889         1       1    male                   0        C    C
890         0       3    male                   0        Q  NaN

[891 rows x 6 columns]

In [136]:
titanic.sex.value_counts()

male      577
female    314
Name: sex, dtype: int64

In [137]:
titanic_age_group = titanic[(titanic.age > 18) & (titanic.age <=30)]

In [138]:
titanic_age_group

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
0           0       3    male  22.0                   1   7.2500        S  NaN
2           1       3  female  26.0                   0   7.9250        S  NaN
8           1       3  female  27.0                   2  11.1333        S  NaN
12          0       3    male  20.0                   0   8.0500        S  NaN
23          1       1    male  28.0                   0  35.5000        S    A
..        ...     ...     ...   ...                 ...      ...      ...  ...
883         0       2    male  28.0                   0  10.5000        S  NaN
884         0       3    male  25.0                   0   7.0500        S  NaN
886         0       2    male  27.0                   0  13.0000        S  NaN
887         1       1  female  19.0                   0  30.0000        S    B
889         1       1    male  26.0                   0  30.0000        C    C

[270 rows x 8 columns]

In [139]:
titanic_age_group = titanic[titanic.age.between (18,30, inclusive = False)]

C:\Users\User\AppData\Local\Temp/ipykernel_8860/507710811.py:1: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  titanic_age_group = titanic[titanic.age.between (18,30, inclusive = False)]

In [141]:
titanic_age_group

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
0           0       3    male  22.0                   1   7.2500        S  NaN
2           1       3  female  26.0                   0   7.9250        S  NaN
8           1       3  female  27.0                   2  11.1333        S  NaN
12          0       3    male  20.0                   0   8.0500        S  NaN
23          1       1    male  28.0                   0  35.5000        S    A
..        ...     ...     ...   ...                 ...      ...      ...  ...
883         0       2    male  28.0                   0  10.5000        S  NaN
884         0       3    male  25.0                   0   7.0500        S  NaN
886         0       2    male  27.0                   0  13.0000        S  NaN
887         1       1  female  19.0                   0  30.0000        S    B
889         1       1    male  26.0                   0  30.0000        C    C

[245 rows x 8 columns]

In [142]:
titanic_age_group.describe()

         survived      pclass         age  alongwithpassanger        fare
count  245.000000  245.000000  245.000000          245.000000  245.000000
mean     0.351020    2.440816   23.969388            0.567347   27.339198
std      0.478266    0.753113    3.145398            1.036503   45.009987
min      0.000000    1.000000   19.000000            0.000000    0.000000
25%      0.000000    2.000000   21.000000            0.000000    7.887500
50%      0.000000    3.000000   24.000000            0.000000   10.500000
75%      1.000000    3.000000   27.000000            1.000000   26.000000
max      1.000000    3.000000   29.000000            5.000000  263.000000

In [143]:
titanic_female = titanic[titanic.sex == 'female']

In [144]:
titanic_male = titanic[titanic.sex == 'male']

In [145]:
titanic_female

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
1           1       1  female  38.0                   1  71.2833        C    C
2           1       3  female  26.0                   0   7.9250        S  NaN
3           1       1  female  35.0                   1  53.1000        S    C
8           1       3  female  27.0                   2  11.1333        S  NaN
9           1       2  female  14.0                   1  30.0708        C  NaN
..        ...     ...     ...   ...                 ...      ...      ...  ...
880         1       2  female  25.0                   1  26.0000        S  NaN
882         0       3  female  22.0                   0  10.5167        S  NaN
885         0       3  female  39.0                   5  29.1250        Q  NaN
887         1       1  female  19.0                   0  30.0000        S    B
888         0       3  female   NaN                   3  23.4500        S  NaN

[314 rows x 8 columns]

In [146]:
titanic_male

     survived  pclass   sex   age  alongwithpassanger     fare embarked deck
0           0       3  male  22.0                   1   7.2500        S  NaN
4           0       3  male  35.0                   0   8.0500        S  NaN
5           0       3  male   NaN                   0   8.4583        Q  NaN
6           0       1  male  54.0                   0  51.8625        S    E
7           0       3  male   2.0                   4  21.0750        S  NaN
..        ...     ...   ...   ...                 ...      ...      ...  ...
883         0       2  male  28.0                   0  10.5000        S  NaN
884         0       3  male  25.0                   0   7.0500        S  NaN
886         0       2  male  27.0                   0  13.0000        S  NaN
889         1       1  male  26.0                   0  30.0000        C    C
890         0       3  male  32.0                   0   7.7500        Q  NaN

[577 rows x 8 columns]

In [147]:
pd.concat([titanic_male,titanic_female], ignore_index = True)

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
0           0       3    male  22.0                   1   7.2500        S  NaN
1           0       3    male  35.0                   0   8.0500        S  NaN
2           0       3    male   NaN                   0   8.4583        Q  NaN
3           0       1    male  54.0                   0  51.8625        S    E
4           0       3    male   2.0                   4  21.0750        S  NaN
..        ...     ...     ...   ...                 ...      ...      ...  ...
886         1       2  female  25.0                   1  26.0000        S  NaN
887         0       3  female  22.0                   0  10.5167        S  NaN
888         0       3  female  39.0                   5  29.1250        Q  NaN
889         1       1  female  19.0                   0  30.0000        S    B
890         0       3  female   NaN                   3  23.4500        S  NaN

[891 rows x 8 columns]

In [149]:
pd.concat([titanic_male,titanic_female], ignore_index = True, axis = 1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,3.0,male,22.0,1.0,7.25,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,female,38.0,1.0,71.2833,C,C
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,female,26.0,0.0,7.9250,S,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,female,35.0,1.0,53.1000,S,C
4,0.0,3.0,male,35.0,0.0,8.05,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.0,2.0,male,27.0,0.0,13.00,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,female,19.0,0.0,30.0000,S,B
888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,female,NaN,3.0,23.4500,S,NaN
889,1.0,1.0,male,26.0,0.0,30.00,C,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890,0.0,3.0,male,32.0,0.0,7.75,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
titanic_female['YOB'] = 1912 - titanic.age

C:\Users\User\AppData\Local\Temp/ipykernel_8860/2360423615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic_female['YOB'] = 1912 - titanic.age

In [151]:
titanic_female

,survived,pclass,sex,age,alongwithpassanger,fare,embarked,deck,YOB
1,1,1,female,38.0,1,71.2833,C,C,1874.0
2,1,3,female,26.0,0,7.9250,S,NaN,1886.0
3,1,1,female,35.0,1,53.1000,S,C,1877.0
8,1,3,female,27.0,2,11.1333,S,NaN,1885.0
9,1,2,female,14.0,1,30.0708,C,NaN,1898.0
...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,1,26.0000,S,NaN,1887.0
882,0,3,female,22.0,0,10.5167,S,NaN,1890.0
885,0,3,female,39.0,5,29.1250,Q,NaN,1873.0
887,1,1,female,19.0,0,30.0000,S,B,1893.0
888,0,3,female,NaN,3,23.4500,S,NaN,NaN

In [152]:
pd.concat([titanic_male,titanic_female])

,survived,pclass,sex,age,alongwithpassanger,fare,embarked,deck,YOB
0,0,3,male,22.0,1,7.2500,S,NaN,NaN
4,0,3,male,35.0,0,8.0500,S,NaN,NaN
5,0,3,male,NaN,0,8.4583,Q,NaN,NaN
6,0,1,male,54.0,0,51.8625,S,E,NaN
7,0,3,male,2.0,4,21.0750,S,NaN,NaN
...,...,...,...,...,...,...,...,...,...
880,1,2,female,25.0,1,26.0000,S,NaN,1887.0
882,0,3,female,22.0,0,10.5167,S,NaN,1890.0
885,0,3,female,39.0,5,29.1250,Q,NaN,1873.0
887,1,1,female,19.0,0,30.0000,S,B,1893.0
888,0,3,female,NaN,3,23.4500,S,NaN,NaN

#### GroupBy

In [153]:
titanic.groupby('sex')

In [155]:
titanic.groupby('sex').mean()

        survived    pclass        age  alongwithpassanger       fare
sex
female  0.742038  2.159236  27.915709            1.343949  44.479818
male    0.188908  2.389948  30.726645            0.665511  25.523893

In [156]:
titanic.groupby('pclass').mean()

        survived        age  alongwithpassanger       fare
pclass
1       0.629630  38.233441            0.773148  84.154687
2       0.472826  29.877630            0.782609  20.662183
3       0.242363  25.140620            1.008147  13.675550

In [157]:
titanic.groupby('pclass')['survived'].mean()

pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64

In [158]:
titanic.groupby('sex')['survived','age'].mean()

C:\Users\User\AppData\Local\Temp/ipykernel_8860/1112814265.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  titanic.groupby('sex')['survived','age'].mean()

        survived        age
sex
female  0.742038  27.915709
male    0.188908  30.726645

In [159]:
titanic

     survived  pclass     sex   age  alongwithpassanger     fare embarked deck
0           0       3    male  22.0                   1   7.2500        S  NaN
1           1       1  female  38.0                   1  71.2833        C    C
2           1       3  female  26.0                   0   7.9250        S  NaN
3           1       1  female  35.0                   1  53.1000        S    C
4           0       3    male  35.0                   0   8.0500        S  NaN
..        ...     ...     ...   ...                 ...      ...      ...  ...
886         0       2    male  27.0                   0  13.0000        S  NaN
887         1       1  female  19.0                   0  30.0000        S    B
888         0       3  female   NaN                   3  23.4500        S  NaN
889         1       1    male  26.0                   0  30.0000        C    C
890         0       3    male  32.0                   0   7.7500        Q  NaN

[891 rows x 8 columns]

In [160]:
pd.read_csv('titanic.csv', index_col='sex')

        survived  pclass   age  sibsp  parch     fare embarked deck
sex
male           0       3  22.0      1      0   7.2500        S  NaN
female         1       1  38.0      1      0  71.2833        C    C
female         1       3  26.0      0      0   7.9250        S  NaN
female         1       1  35.0      1      0  53.1000        S    C
male           0       3  35.0      0      0   8.0500        S  NaN
...          ...     ...   ...    ...    ...      ...      ...  ...
male           0       2  27.0      0      0  13.0000        S  NaN
female         1       1  19.0      0      0  30.0000        S    B
female         0       3   NaN      1      2  23.4500        S  NaN
male           1       1  26.0      0      0  30.0000        C    C
male           0       3  32.0      0      0   7.7500        Q  NaN

[891 rows x 8 columns]

In [166]:
titanic.set_index('sex', inplace = True)

In [167]:
titanic

        survived  pclass   age  alongwithpassanger     fare embarked deck
sex
male           0       3  22.0                   1   7.2500        S  NaN
female         1       1  38.0                   1  71.2833        C    C
female         1       3  26.0                   0   7.9250        S  NaN
female         1       1  35.0                   1  53.1000        S    C
male           0       3  35.0                   0   8.0500        S  NaN
...          ...     ...   ...                 ...      ...      ...  ...
male           0       2  27.0                   0  13.0000        S  NaN
female         1       1  19.0                   0  30.0000        S    B
female         0       3   NaN                   3  23.4500        S  NaN
male           1       1  26.0                   0  30.0000        C    C
male           0       3  32.0                   0   7.7500        Q  NaN

[891 rows x 7 columns]

In [168]:
titanic.loc['male',['survived','age']]

      survived   age
sex
male         0  22.0
male         0  35.0
male         0   NaN
male         0  54.0
male         0   2.0
...        ...   ...
male         0  28.0
male         0  25.0
male         0  27.0
male         1  26.0
male         0  32.0

[577 rows x 2 columns]

In [169]:
titanic.loc['female',['survived','age']]

        survived   age
sex
female         1  38.0
female         1  26.0
female         1  35.0
female         1  27.0
female         1  14.0
...          ...   ...
female         1  25.0
female         0  22.0
female         0  39.0
female         1  19.0
female         0   NaN

[314 rows x 2 columns]

In [170]:
titanic.loc['male',:]

      survived  pclass   age  alongwithpassanger     fare embarked deck
sex
male         0       3  22.0                   1   7.2500        S  NaN
male         0       3  35.0                   0   8.0500        S  NaN
male         0       3   NaN                   0   8.4583        Q  NaN
male         0       1  54.0                   0  51.8625        S    E
male         0       3   2.0                   4  21.0750        S  NaN
...        ...     ...   ...                 ...      ...      ...  ...
male         0       2  28.0                   0  10.5000        S  NaN
male         0       3  25.0                   0   7.0500        S  NaN
male         0       2  27.0                   0  13.0000        S  NaN
male         1       1  26.0                   0  30.0000        C    C
male         0       3  32.0                   0   7.7500        Q  NaN

[577 rows x 7 columns]

In [171]:
titanic.loc['female',:]

        survived  pclass   age  alongwithpassanger     fare embarked deck
sex
female         1       1  38.0                   1  71.2833        C    C
female         1       3  26.0                   0   7.9250        S  NaN
female         1       1  35.0                   1  53.1000        S    C
female         1       3  27.0                   2  11.1333        S  NaN
female         1       2  14.0                   1  30.0708        C  NaN
...          ...     ...   ...                 ...      ...      ...  ...
female         1       2  25.0                   1  26.0000        S  NaN
female         0       3  22.0                   0  10.5167        S  NaN
female         0       3  39.0                   5  29.1250        Q  NaN
female         1       1  19.0                   0  30.0000        S    B
female         0       3   NaN                   3  23.4500        S  NaN

[314 rows x 7 columns]

In [172]:
titanic

        survived  pclass   age  alongwithpassanger     fare embarked deck
sex
male           0       3  22.0                   1   7.2500        S  NaN
female         1       1  38.0                   1  71.2833        C    C
female         1       3  26.0                   0   7.9250        S  NaN
female         1       1  35.0                   1  53.1000        S    C
male           0       3  35.0                   0   8.0500        S  NaN
...          ...     ...   ...                 ...      ...      ...  ...
male           0       2  27.0                   0  13.0000        S  NaN
female         1       1  19.0                   0  30.0000        S    B
female         0       3   NaN                   3  23.4500        S  NaN
male           1       1  26.0                   0  30.0000        C    C
male           0       3  32.0                   0   7.7500        Q  NaN

[891 rows x 7 columns]

In [173]:
titanic.sex.unique()

AttributeError: 'DataFrame' object has no attribute 'sex'

In [175]:
titanic.deck.unique()

array([nan, 'C', 'E', 'G', 'D', 'A', 'B', 'F'], dtype=object)

In [176]:
## If in case a column is set as an index how you will put it back as a column
titanic.reset_index(inplace = True)

In [177]:
titanic

        sex  survived  pclass   age  alongwithpassanger     fare embarked deck
0      male         0       3  22.0                   1   7.2500        S  NaN
1    female         1       1  38.0                   1  71.2833        C    C
2    female         1       3  26.0                   0   7.9250        S  NaN
3    female         1       1  35.0                   1  53.1000        S    C
4      male         0       3  35.0                   0   8.0500        S  NaN
..      ...       ...     ...   ...                 ...      ...      ...  ...
886    male         0       2  27.0                   0  13.0000        S  NaN
887  female         1       1  19.0                   0  30.0000        S    B
888  female         0       3   NaN                   3  23.4500        S  NaN
889    male         1       1  26.0                   0  30.0000        C    C
890    male         0       3  32.0                   0   7.7500        Q  NaN

[891 rows x 8 columns]

In [178]:
titanic.sex.unique()

array(['male', 'female'], dtype=object)

In [179]:
titanic.deck.nunique()

7

In [181]:
titanic.pclass.nunique()

3

In [182]:
titanic

        sex  survived  pclass   age  alongwithpassanger     fare embarked deck
0      male         0       3  22.0                   1   7.2500        S  NaN
1    female         1       1  38.0                   1  71.2833        C    C
2    female         1       3  26.0                   0   7.9250        S  NaN
3    female         1       1  35.0                   1  53.1000        S    C
4      male         0       3  35.0                   0   8.0500        S  NaN
..      ...       ...     ...   ...                 ...      ...      ...  ...
886    male         0       2  27.0                   0  13.0000        S  NaN
887  female         1       1  19.0                   0  30.0000        S    B
888  female         0       3   NaN                   3  23.4500        S  NaN
889    male         1       1  26.0                   0  30.0000        C    C
890    male         0       3  32.0                   0   7.7500        Q  NaN

[891 rows x 8 columns]

In [183]:
titanic[titanic.age.isna()]

        sex  survived  pclass  age  alongwithpassanger     fare embarked deck
5      male         0       3  NaN                   0   8.4583        Q  NaN
17     male         1       2  NaN                   0  13.0000        S  NaN
19   female         1       3  NaN                   0   7.2250        C  NaN
26     male         0       3  NaN                   0   7.2250        C  NaN
28   female         1       3  NaN                   0   7.8792        Q  NaN
..      ...       ...     ...  ...                 ...      ...      ...  ...
859    male         0       3  NaN                   0   7.2292        C  NaN
863  female         0       3  NaN                  10  69.5500        S  NaN
868    male         0       3  NaN                   0   9.5000        S  NaN
878    male         0       3  NaN                   0   7.8958        S  NaN
888  female         0       3  NaN                   3  23.4500        S  NaN

[177 rows x 8 columns]

In [184]:
titanic[titanic.age.isnull()]

        sex  survived  pclass  age  alongwithpassanger     fare embarked deck
5      male         0       3  NaN                   0   8.4583        Q  NaN
17     male         1       2  NaN                   0  13.0000        S  NaN
19   female         1       3  NaN                   0   7.2250        C  NaN
26     male         0       3  NaN                   0   7.2250        C  NaN
28   female         1       3  NaN                   0   7.8792        Q  NaN
..      ...       ...     ...  ...                 ...      ...      ...  ...
859    male         0       3  NaN                   0   7.2292        C  NaN
863  female         0       3  NaN                  10  69.5500        S  NaN
868    male         0       3  NaN                   0   9.5000        S  NaN
878    male         0       3  NaN                   0   7.8958        S  NaN
888  female         0       3  NaN                   3  23.4500        S  NaN

[177 rows x 8 columns]

In [185]:
titanic[~titanic.age.isna()]

        sex  survived  pclass   age  alongwithpassanger     fare embarked deck
0      male         0       3  22.0                   1   7.2500        S  NaN
1    female         1       1  38.0                   1  71.2833        C    C
2    female         1       3  26.0                   0   7.9250        S  NaN
3    female         1       1  35.0                   1  53.1000        S    C
4      male         0       3  35.0                   0   8.0500        S  NaN
..      ...       ...     ...   ...                 ...      ...      ...  ...
885  female         0       3  39.0                   5  29.1250        Q  NaN
886    male         0       2  27.0                   0  13.0000        S  NaN
887  female         1       1  19.0                   0  30.0000        S    B
889    male         1       1  26.0                   0  30.0000        C    C
890    male         0       3  32.0                   0   7.7500        Q  NaN

[714 rows x 8 columns]

In [187]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   sex                 891 non-null    object
 1   survived            891 non-null    int64
 2   pclass              891 non-null    int64
 3   age                 714 non-null    float64
 4   alongwithpassanger  891 non-null    int64
 5   fare                891 non-null    float64
 6   embarked            889 non-null    object
 7   deck                203 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

In [188]:
titanic.deck.unique()

array([nan, 'C', 'E', 'G', 'D', 'A', 'B', 'F'], dtype=object)

In [189]:
titanic[(titanic.deck == 'A') | (titanic.deck == 'B') | (titanic.deck =='C')]

,sex,survived,pclass,age,alongwithpassanger,fare,embarked,deck
1,female,1,1,38.0,1,71.2833,C,C
3,female,1,1,35.0,1,53.1000,S,C
11,female,1,1,58.0,0,26.5500,S,C
23,male,1,1,28.0,0,35.5000,S,A
27,male,0,1,19.0,5,263.0000,S,C
...,...,...,...,...,...,...,...,...
867,male,0,1,31.0,0,50.4958,S,A
872,male,0,1,33.0,0,5.0000,S,B
879,female,1,1,56.0,1,83.1583,C,C
887,female,1,1,19.0,0,30.0000,S,B
889,male,1,1,26.0,0,30.0000,C,C

In [190]:
deck = ['A','B','C']

In [191]:
titanic[titanic.deck.isin(deck)]

,sex,survived,pclass,age,alongwithpassanger,fare,embarked,deck
1,female,1,1,38.0,1,71.2833,C,C
3,female,1,1,35.0,1,53.1000,S,C
11,female,1,1,58.0,0,26.5500,S,C
23,male,1,1,28.0,0,35.5000,S,A
27,male,0,1,19.0,5,263.0000,S,C
...,...,...,...,...,...,...,...,...
867,male,0,1,31.0,0,50.4958,S,A
872,male,0,1,33.0,0,5.0000,S,B
879,female,1,1,56.0,1,83.1583,C,C
887,female,1,1,19.0,0,30.0000,S,B
889,male,1,1,26.0,0,30.0000,C,C

In [192]:
x=['A','B','C']

In [193]:
titanic[titanic.deck.isin(x)]

,sex,survived,pclass,age,alongwithpassanger,fare,embarked,deck
1,female,1,1,38.0,1,71.2833,C,C
3,female,1,1,35.0,1,53.1000,S,C
11,female,1,1,58.0,0,26.5500,S,C
23,male,1,1,28.0,0,35.5000,S,A
27,male,0,1,19.0,5,263.0000,S,C
...,...,...,...,...,...,...,...,...
867,male,0,1,31.0,0,50.4958,S,A
872,male,0,1,33.0,0,5.0000,S,B
879,female,1,1,56.0,1,83.1583,C,C
887,female,1,1,19.0,0,30.0000,S,B
889,male,1,1,26.0,0,30.0000,C,C

In [1]:
import pandas as pd

In [3]:
titanic=pd.read_csv('D:\\PGP IN DATA SCIENCE\\Files\\titanic.csv')

In [4]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [5]:
titanic.insert(4,'YOB',1912-titanic.age)

In [6]:
titanic

,survived,pclass,sex,age,YOB,sibsp,parch,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,7.7500,Q,NaN

In [7]:
## Handling missing values--1) Delete the row which has missing values in column
## 2) You impute or replace Na value with some actual value

In [8]:
## isna() and isnull()

In [9]:
titanic.age.isna()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: age, Length: 891, dtype: bool

In [10]:
titanic.age.isna().sum()

177

In [11]:
titanic.age.isnull().sum()

177

In [12]:
titanic.isna().sum()

survived      0
pclass        0
sex           0
age         177
YOB         177
sibsp         0
parch         0
fare          0
embarked      2
deck        688
dtype: int64

In [13]:
##Dropna

In [14]:
titanic.dropna(axis=0)

,survived,pclass,sex,age,YOB,sibsp,parch,fare,embarked,deck
1,1,1,female,38.0,1874.0,1,0,71.2833,C,C
3,1,1,female,35.0,1877.0,1,0,53.1000,S,C
6,0,1,male,54.0,1858.0,0,0,51.8625,S,E
10,1,3,female,4.0,1908.0,1,1,16.7000,S,G
11,1,1,female,58.0,1854.0,0,0,26.5500,S,C
...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1865.0,1,1,52.5542,S,D
872,0,1,male,33.0,1879.0,0,0,5.0000,S,B
879,1,1,female,56.0,1856.0,0,1,83.1583,C,C
887,1,1,female,19.0,1893.0,0,0,30.0000,S,B
889,1,1,male,26.0,1886.0,0,0,30.0000,C,C

In [15]:
titanic.dropna(axis=1)

     survived  pclass     sex  sibsp  parch     fare
0           0       3    male      1      0   7.2500
1           1       1  female      1      0  71.2833
2           1       3  female      0      0   7.9250
3           1       1  female      1      0  53.1000
4           0       3    male      0      0   8.0500
..        ...     ...     ...    ...    ...      ...
886         0       2    male      0      0  13.0000
887         1       1  female      0      0  30.0000
888         0       3  female      1      2  23.4500
889         1       1    male      0      0  30.0000
890         0       3    male      0      0   7.7500

[891 rows x 6 columns]

In [16]:
titanic.dropna(axis=0, how='all')

,survived,pclass,sex,age,YOB,sibsp,parch,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,7.7500,Q,NaN

In [17]:
titanic.dropna(axis=1, how='all')

,survived,pclass,sex,age,YOB,sibsp,parch,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,7.7500,Q,NaN

In [18]:
##Fillna

In [19]:
titanic

,survived,pclass,sex,age,YOB,sibsp,parch,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,7.7500,Q,NaN

In [20]:
titanic.age.mean()

29.69911764705882

In [21]:
titanic.age.fillna(29.69)

0      22.00
1      38.00
2      26.00
3      35.00
4      35.00
       ...
886    27.00
887    19.00
888    29.69
889    26.00
890    32.00
Name: age, Length: 891, dtype: float64

In [22]:
titanic.age.fillna(titanic.age.mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

In [23]:
titanic.age.fillna(titanic.age.mean(), inplace=True)

In [24]:
titanic

,survived,pclass,sex,age,YOB,sibsp,parch,fare,embarked,deck
0,0,3,male,22.000000,1890.0,1,0,7.2500,S,NaN
1,1,1,female,38.000000,1874.0,1,0,71.2833,C,C
2,1,3,female,26.000000,1886.0,0,0,7.9250,S,NaN
3,1,1,female,35.000000,1877.0,1,0,53.1000,S,C
4,0,3,male,35.000000,1877.0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,1885.0,0,0,13.0000,S,NaN
887,1,1,female,19.000000,1893.0,0,0,30.0000,S,B
888,0,3,female,29.699118,NaN,1,2,23.4500,S,NaN
889,1,1,male,26.000000,1886.0,0,0,30.0000,C,C
890,0,3,male,32.000000,1880.0,0,0,7.7500,Q,NaN

In [59]:
titanic=pd.read_csv('titanic.csv')

In [60]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [25]:
titanic.age.fillna(method='backfill')

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

In [26]:
titanic.age.fillna(method='bfill')

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

In [27]:
titanic.age.fillna(method='ffill')

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: age, Length: 891, dtype: float64

In [64]:
## Value_counts()

In [65]:
titanic.insert(4,'YOB',1912-titanic.age)

In [66]:
titanic

,survived,pclass,sex,age,YOB,sibsp,parch,fare,embarked,deck
0,0,3,male,22.0,1890.0,1,0,7.2500,S,NaN
1,1,1,female,38.0,1874.0,1,0,71.2833,C,C
2,1,3,female,26.0,1886.0,0,0,7.9250,S,NaN
3,1,1,female,35.0,1877.0,1,0,53.1000,S,C
4,0,3,male,35.0,1877.0,0,0,8.0500,S,NaN
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,1885.0,0,0,13.0000,S,NaN
887,1,1,female,19.0,1893.0,0,0,30.0000,S,B
888,0,3,female,NaN,NaN,1,2,23.4500,S,NaN
889,1,1,male,26.0,1886.0,0,0,30.0000,C,C
890,0,3,male,32.0,1880.0,0,0,7.7500,Q,NaN

In [28]:
titanic.sex.value_counts()

male      577
female    314
Name: sex, dtype: int64

In [29]:
titanic.pclass.value_counts()

3    491
1    216
2    184
Name: pclass, dtype: int64

In [30]:
titanic.value_counts()

survived  pclass  sex     age   YOB     sibsp  parch  fare      embarked  deck
1         1       female  24.0  1888.0  0      0      69.3000   C         B       2
                          58.0  1854.0  0      0      26.5500   S         C       1
                          49.0  1863.0  0      0      25.9292   S         D       1
                                        1      0      76.7292   C         D       1
                          50.0  1862.0  0      1      247.5208  C         B       1
                                                                                 ..
                          16.0  1896.0  0      0      86.5000   S         B       1
                                               1      39.4000   S         D       1
                                                      57.9792   C         B       1
                          17.0  1895.0  1      0      57.0000   S         B       1
          3       male    32.0  1880.0  0      0      8.0500    S         E       1
Length: 181, dtype: int64

In [31]:
titanic.describe()

,survived,pclass,age,YOB,sibsp,parch,fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,29.699118,1882.300882,0.523008,0.381594,32.204208
std,0.486592,0.836071,13.002015,14.526497,1.102743,0.806057,49.693429
min,0.000000,1.000000,0.420000,1832.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,22.000000,1874.000000,0.000000,0.000000,7.910400
50%,0.000000,3.000000,29.699118,1884.000000,0.000000,0.000000,14.454200
75%,1.000000,3.000000,35.000000,1891.875000,1.000000,0.000000,31.000000
max,1.000000,3.000000,80.000000,1911.580000,8.000000,6.000000,512.329200

In [32]:
titanic.agg(['mean','median','std','var'])

,survived,pclass,age,YOB,sibsp,parch,fare
mean,0.383838,2.308642,29.699118,1882.300882,0.523008,0.381594,32.204208
median,0.000000,3.000000,29.699118,1884.000000,0.000000,0.000000,14.454200
std,0.486592,0.836071,13.002015,14.526497,1.102743,0.806057,49.693429
var,0.236772,0.699015,169.052400,211.019125,1.216043,0.649728,2469.436846

In [33]:
titanic.agg({'survived':'mean','pclass':'median','age':['min','max']})

        survived  pclass    age
mean    0.383838     NaN    NaN
median       NaN     3.0    NaN
min          NaN     NaN   0.42
max          NaN     NaN  80.00

In [34]:
##Merge

In [35]:
##Types of joint
#1 natural/inner joint
#2 outer joint a)left b) right c) full

In [38]:
men2004=pd.read_csv('D:\\PGP IN DATA SCIENCE\\Files\\men2004.csv')

In [39]:
men2004

                       Athlete  Medals
0              PHELPS, Michael       8
1                  THORPE, Ian       4
2             SCHOEMAN, Roland       3
3               PEIRSOL, Aaron       3
4                 CROCKER, Ian       3
5             KITAJIMA, Kosuke       3
6              HANSEN, Brendan       3
7   VAN DEN HOOGENBAND, Pieter       3
8               HACKETT, Grant       3
9               MORITA, Tomomi       2
10                LEZAK, Jason       2
11               ROGAN, Markus       2
12               KELLER, Klete       2
13              HALL, Gary Jr.       2
14                LOCHTE, Ryan       2
15                WALKER, Neil       2
16           YAMAMOTO, Takashi       2
17          SPRENGER, Nicholas       1
18          OKUMURA, Yoshihiro       1
19              PARRY, Stephen       1
20               PEARSON, Todd       1
21              ZASTROW, Mitja       1
22          PELLICIARI, Matteo       1
23              WOODWARD, Gabe       1
24            SERDINOV, Andriy       1
25                 VENDT, Erik       1
26      ROSOLINO, Massimiliano       1
27        VEENS, Mark Hermanus       1
28            RUPPRATH, Thomas       1
29           VANDERKAAY, Peter       1
30            TOWNSEND, Darian       1
31              STEVENS, Craig       1
32              NEETHLING, Ryk       1
33              BOVELL, George       1
34                MEEUW, Helge       1
35        FLOREA, Razvan Ionut       1
36       CAPPELLAZZO, Federico       1
37             CERCATO, Simone       1
38                CONRAD, Lars       1
39                CSEH, Laszlo       1
40               DAVIES, David       1
41              DRAGANJA, Duje       1
42            DRIESEN, Steffen       1
43             DUBOSCQ, Hugues       1
44                DUSING, Nate       1
45               FERNS, Lyndon       1
46              GANGLOFF, Mark       1
47           MATKOVICH, Antony       1
48            GOLDBLATT, Scott       1
49              GYURTA, Daniel       1
50              JENSEN, Larsen       1
51             KENKHUIS, Johan       1
52                KETCHUM, Dan       1
53               KLIM, Michael       1
54          KRAYZELBURG, Lenny       1
55                KRUPPA, Jens       1
56         BREMBILLA, Emiliano       1
57            MAGNINI, Filippo       1
58         ZWERING, Klaas-Erik       1

In [40]:
men2008=pd.read_csv('D:\\PGP IN DATA SCIENCE\\Files\\men2008.csv')

In [41]:
men2008

                Athlete  Medals
0       PHELPS, Michael       8
1          LOCHTE, Ryan       4
2        BERNARD, Alain       3
3       SULLIVAN, Eamon       3
4   LAUTERSTEIN, Andrew       3
..                  ...     ...
57     LAGUNOV, Evgeniy       1
58        BERENS, Ricky       1
59         LURZ, Thomas       1
60      MALLET, Gregory       1
61           ZHANG, Lin       1

[62 rows x 2 columns]

In [43]:
men2004.rename(columns={'Athlete':'Players'},inplace=True)

In [44]:
men2004

                       Players  Medals
0              PHELPS, Michael       8
1                  THORPE, Ian       4
2             SCHOEMAN, Roland       3
3               PEIRSOL, Aaron       3
4                 CROCKER, Ian       3
5             KITAJIMA, Kosuke       3
6              HANSEN, Brendan       3
7   VAN DEN HOOGENBAND, Pieter       3
8               HACKETT, Grant       3
9               MORITA, Tomomi       2
10                LEZAK, Jason       2
11               ROGAN, Markus       2
12               KELLER, Klete       2
13              HALL, Gary Jr.       2
14                LOCHTE, Ryan       2
15                WALKER, Neil       2
16           YAMAMOTO, Takashi       2
17          SPRENGER, Nicholas       1
18          OKUMURA, Yoshihiro       1
19              PARRY, Stephen       1
20               PEARSON, Todd       1
21              ZASTROW, Mitja       1
22          PELLICIARI, Matteo       1
23              WOODWARD, Gabe       1
24            SERDINOV, Andriy       1
25                 VENDT, Erik       1
26      ROSOLINO, Massimiliano       1
27        VEENS, Mark Hermanus       1
28            RUPPRATH, Thomas       1
29           VANDERKAAY, Peter       1
30            TOWNSEND, Darian       1
31              STEVENS, Craig       1
32              NEETHLING, Ryk       1
33              BOVELL, George       1
34                MEEUW, Helge       1
35        FLOREA, Razvan Ionut       1
36       CAPPELLAZZO, Federico       1
37             CERCATO, Simone       1
38                CONRAD, Lars       1
39                CSEH, Laszlo       1
40               DAVIES, David       1
41              DRAGANJA, Duje       1
42            DRIESEN, Steffen       1
43             DUBOSCQ, Hugues       1
44                DUSING, Nate       1
45               FERNS, Lyndon       1
46              GANGLOFF, Mark       1
47           MATKOVICH, Antony       1
48            GOLDBLATT, Scott       1
49              GYURTA, Daniel       1
50              JENSEN, Larsen       1
51             KENKHUIS, Johan       1
52                KETCHUM, Dan       1
53               KLIM, Michael       1
54          KRAYZELBURG, Lenny       1
55                KRUPPA, Jens       1
56         BREMBILLA, Emiliano       1
57            MAGNINI, Filippo       1
58         ZWERING, Klaas-Erik       1

In [46]:
pd.merge(men2004,men2008,left_on='Players', right_on='Athlete')

              Players  Medals_x            Athlete  Medals_y
0     PHELPS, Michael         8    PHELPS, Michael         8
1      PEIRSOL, Aaron         3     PEIRSOL, Aaron         3
2        CROCKER, Ian         3       CROCKER, Ian         1
3    KITAJIMA, Kosuke         3   KITAJIMA, Kosuke         3
4     HANSEN, Brendan         3    HANSEN, Brendan         1
5      HACKETT, Grant         3     HACKETT, Grant         2
6        LEZAK, Jason         2       LEZAK, Jason         3
7       KELLER, Klete         2      KELLER, Klete         1
8        LOCHTE, Ryan         2       LOCHTE, Ryan         4
9         VENDT, Erik         1        VENDT, Erik         1
10  VANDERKAAY, Peter         1  VANDERKAAY, Peter         2
11       CSEH, Laszlo         1       CSEH, Laszlo         3
12      DAVIES, David         1      DAVIES, David         1
13    DUBOSCQ, Hugues         1    DUBOSCQ, Hugues         2
14     GANGLOFF, Mark         1     GANGLOFF, Mark         1
15     JENSEN, Larsen         1     JENSEN, Larsen         1

In [48]:
pd.merge(men2004,men2008,left_on='Players', right_on='Athlete', how='outer')

              Players  Medals_x           Athlete  Medals_y
0     PHELPS, Michael       8.0   PHELPS, Michael       8.0
1         THORPE, Ian       4.0               NaN       NaN
2    SCHOEMAN, Roland       3.0               NaN       NaN
3      PEIRSOL, Aaron       3.0    PEIRSOL, Aaron       3.0
4        CROCKER, Ian       3.0      CROCKER, Ian       1.0
..                ...       ...               ...       ...
100               NaN       NaN  LAGUNOV, Evgeniy       1.0
101               NaN       NaN     BERENS, Ricky       1.0
102               NaN       NaN      LURZ, Thomas       1.0
103               NaN       NaN   MALLET, Gregory       1.0
104               NaN       NaN        ZHANG, Lin       1.0

[105 rows x 4 columns]

In [1]:
import pandas as pd

In [2]:
titanic=pd.read_csv('titanic.csv')

In [23]:
pd.merge(men2004,men2008,left_on='Players',right_on='Athlete')

              Players  Medals_x            Athlete  Medals_y
0     PHELPS, Michael         8    PHELPS, Michael         8
1      PEIRSOL, Aaron         3     PEIRSOL, Aaron         3
2        CROCKER, Ian         3       CROCKER, Ian         1
3    KITAJIMA, Kosuke         3   KITAJIMA, Kosuke         3
4     HANSEN, Brendan         3    HANSEN, Brendan         1
5      HACKETT, Grant         3     HACKETT, Grant         2
6        LEZAK, Jason         2       LEZAK, Jason         3
7       KELLER, Klete         2      KELLER, Klete         1
8        LOCHTE, Ryan         2       LOCHTE, Ryan         4
9         VENDT, Erik         1        VENDT, Erik         1
10  VANDERKAAY, Peter         1  VANDERKAAY, Peter         2
11       CSEH, Laszlo         1       CSEH, Laszlo         3
12      DAVIES, David         1      DAVIES, David         1
13    DUBOSCQ, Hugues         1    DUBOSCQ, Hugues         2
14     GANGLOFF, Mark         1     GANGLOFF, Mark         1
15     JENSEN, Larsen         1     JENSEN, Larsen         1

In [13]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [14]:
titanic.groupby(['sex','pclass'])['survived'].mean()

sex     pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: survived, dtype: float64

In [29]:
titanic.groupby(['sex','pclass'])['survived'].transform('mean')

0      0.135447
1      0.968085
2      0.500000
3      0.968085
4      0.135447
         ...
886    0.157407
887    0.968085
888    0.500000
889    0.368852
890    0.135447
Name: survived, Length: 891, dtype: float64

In [34]:
titanic.insert(8,'Survival_rate',titanic.groupby(['sex','pclass'])['survived'].transform('mean'))

ValueError: cannot insert Survival_rate, already exists

In [35]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,Survival_rate
0,0,3,male,22.0,1,0,7.2500,S,NaN,0.135447
1,1,1,female,38.0,1,0,71.2833,C,C,0.968085
2,1,3,female,26.0,0,0,7.9250,S,NaN,0.500000
3,1,1,female,35.0,1,0,53.1000,S,C,0.968085
4,0,3,male,35.0,0,0,8.0500,S,NaN,0.135447
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,0.157407
887,1,1,female,19.0,0,0,30.0000,S,B,0.968085
888,0,3,female,NaN,1,2,23.4500,S,NaN,0.500000
889,1,1,male,26.0,0,0,30.0000,C,C,0.368852
890,0,3,male,32.0,0,0,7.7500,Q,NaN,0.135447

In [20]:
##Outliers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   survived      891 non-null    int64
 1   pclass        891 non-null    int64
 2   sex           891 non-null    object
 3   age           714 non-null    float64
 4   sibsp         891 non-null    int64
 5   parch         891 non-null    int64
 6   fare          891 non-null    float64
 7   embarked      889 non-null    object
 8   deck          203 non-null    object
 9   Groupby_Mean  891 non-null    float64
dtypes: float64(3), int64(4), object(3)
memory usage: 69.7+ KB

In [32]:
titanic.drop(columns='Groupby_Mean',inplace=True)

In [33]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,Survival_rate
0,0,3,male,22.0,1,0,7.2500,S,NaN,0.135447
1,1,1,female,38.0,1,0,71.2833,C,C,0.968085
2,1,3,female,26.0,0,0,7.9250,S,NaN,0.500000
3,1,1,female,35.0,1,0,53.1000,S,C,0.968085
4,0,3,male,35.0,0,0,8.0500,S,NaN,0.135447
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,0.157407
887,1,1,female,19.0,0,0,30.0000,S,B,0.968085
888,0,3,female,NaN,1,2,23.4500,S,NaN,0.500000
889,1,1,male,26.0,0,0,30.0000,C,C,0.368852
890,0,3,male,32.0,0,0,7.7500,Q,NaN,0.135447

In [37]:
titanic['outliers']=1-titanic.Survival_rate

In [38]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,Survival_rate,outliers
0,0,3,male,22.0,1,0,7.2500,S,NaN,0.135447,0.864553
1,1,1,female,38.0,1,0,71.2833,C,C,0.968085,0.031915
2,1,3,female,26.0,0,0,7.9250,S,NaN,0.500000,0.500000
3,1,1,female,35.0,1,0,53.1000,S,C,0.968085,0.031915
4,0,3,male,35.0,0,0,8.0500,S,NaN,0.135447,0.864553
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,0.157407,0.842593
887,1,1,female,19.0,0,0,30.0000,S,B,0.968085,0.031915
888,0,3,female,NaN,1,2,23.4500,S,NaN,0.500000,0.500000
889,1,1,male,26.0,0,0,30.0000,C,C,0.368852,0.631148
890,0,3,male,32.0,0,0,7.7500,Q,NaN,0.135447,0.864553

In [42]:
titanic[(titanic.outliers>0.80) & (titanic.survived==1)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,Survival_rate,outliers
17,1,2,male,NaN,0,0,13.0000,S,NaN,0.157407,0.842593
21,1,2,male,34.00,0,0,13.0000,S,D,0.157407,0.842593
36,1,3,male,NaN,0,0,7.2292,C,NaN,0.135447,0.864553
65,1,3,male,NaN,1,1,15.2458,C,NaN,0.135447,0.864553
74,1,3,male,32.00,0,0,56.4958,S,NaN,0.135447,0.864553
78,1,2,male,0.83,0,2,29.0000,S,NaN,0.157407,0.842593
81,1,3,male,29.00,0,0,9.5000,S,NaN,0.135447,0.864553
107,1,3,male,NaN,0,0,7.7750,S,NaN,0.135447,0.864553
125,1,3,male,12.00,1,0,11.2417,C,NaN,0.135447,0.864553
127,1,3,male,24.00,0,0,7.1417,S,NaN,0.135447,0.864553
146,1,3,male,27.00,0,0,7.7958,S,NaN,0.135447,0.864553
165,1,3,male,9.00,0,2,20.5250,S,NaN,0.135447,0.864553
183,1,2,male,1.00,2,1,39.0000,S,F,0.157407,0.842593
193,1,2,male,3.00,1,1,26.0000,S,F,0.157407,0.842593
204,1,3,male,18.00,0,0,8.0500,S,NaN,0.135447,0.864553
207,1,3,male,26.00,0,0,18.7875,C,NaN,0.135447,0.864553
220,1,3,male,16.00,0,0,8.0500,S,NaN,0.135447,0.864553
226,1,2,male,19.00,0,0,10.5000,S,NaN,0.157407,0.842593
261,1,3,male,3.00,4,2,31.3875,S,NaN,0.135447,0.864553
267,1,3,male,25.00,1,0,7.7750,S,NaN,0.135447,0.864553
271,1,3,male,25.00,0,0,0.0000,S,NaN,0.135447,0.864553
283,1,3,male,19.00,0,0,8.0500,S,NaN,0.135447,0.864553
286,1,3,male,30.00,0,0,9.5000,S,NaN,0.135447,0.864553
288,1,2,male,42.00,0,0,13.0000,S,NaN,0.157407,0.842593
301,1,3,male,NaN,2,0,23.2500,Q,NaN,0.135447,0.864553
338,1,3,male,45.00,0,0,8.0500,S,NaN,0.135447,0.864553
340,1,2,male,2.00,1,1,26.0000,S,F,0.157407,0.842593
348,1,3,male,3.00,1,1,15.9000,S,NaN,0.135447,0.864553
391,1,3,male,21.00,0,0,7.7958,S,NaN,0.135447,0.864553
400,1,3,male,39.00,0,0,7.9250,S,NaN,0.135447,0.864553
407,1,2,male,3.00,1,1,18.7500,S,NaN,0.157407,0.842593
414,1,3,male,44.00,0,0,7.9250,S,NaN,0.135447,0.864553
429,1,3,male,32.00,0,0,8.0500,S,E,0.135447,0.864553
444,1,3,male,NaN,0,0,8.1125,S,NaN,0.135447,0.864553
455,1,3,male,29.00,0,0,7.8958,C,NaN,0.135447,0.864553
489,1,3,male,9.00,1,1,15.9000,S,NaN,0.135447,0.864553
509,1,3,male,26.00,0,0,56.4958,S,NaN,0.135447,0.864553
510,1,3,male,29.00,0,0,7.7500,Q,NaN,0.135447,0.864553
543,1,2,male,32.00,1,0,26.0000,S,NaN,0.157407,0.842593
547,1,2,male,NaN,0,0,13.8625,C,NaN,0.157407,0.842593
549,1,2,male,8.00,1,1,36.7500,S,NaN,0.157407,0.842593
553,1,3,male,22.00,0,0,7.2250,C,NaN,0.135447,0.864553
569,1,3,male,32.00,0,0,7.8542,S,NaN,0.135447,0.864553
570,1,2,male,62.00,0,0,10.5000,S,NaN,0.157407,0.842593
579,1,3,male,32.00,0,0,7.9250,S,NaN,0.135447,0.864553
622,1,3,male,20.00,1,1,15.7417,C,NaN,0.135447,0.864553
643,1,3,male,NaN,0,0,56.4958,S,NaN,0.135447,0.864553
664,1,3,male,20.00,1,0,7.9250,S,NaN,0.135447,0.864553
673,1,2,male,31.00,0,0,13.0000,S,NaN,0.157407,0.842593
692,1,3,male,NaN,0,0,56.4958,S,NaN,0.135447,0.864553
709,1,3,male,NaN,1,1,15.2458,C,NaN,0.135447,0.864553
744,1,3,male,31.00,0,0,7.9250,S,NaN,0.135447,0.864553
751,1,3,male,6.00,0,1,12.4750,S,E,0.135447,0.864553
755,1,2,male,0.67,1,1,14.5000,S,NaN,0.157407,0.842593
762,1,3,male,20.00,0,0,7.2292,C,NaN,0.135447,0.864553
788,1,3,male,1.00,1,2,20.5750,S,NaN,0.135447,0.864553
803,1,3,male,0.42,0,1,8.5167,C,NaN,0.135447,0.864553
804,1,3,male,27.00,0,0,6.9750,S,NaN,0.135447,0.864553
821,1,3,male,27.00,0,0,8.6625,S,NaN,0.135447,0.864553
827,1,2,male,1.00,0,2,37.0042,C,NaN,0.157407,0.842593
828,1,3,male,NaN,0,0,7.7500,Q,NaN,0.135447,0.864553
831,1,2,male,0.83,1,1,18.7500,S,NaN,0.157407,0.842593
838,1,3,male,32.00,0,0,56.4958,S,NaN,0.135447,0.864553
869,1,3,male,4.00,1,1,11.1333,S,NaN,0.135447,0.864553

In [41]:
pd.options.display.max_rows=70

In [43]:
##Pivot table

In [45]:
pd.pivot_table(titanic,values='survived',index='deck',aggfunc='sum')

      survived
deck
A            7
B           35
C           35
D           25
E           24
F            8
G            2

In [47]:
titanic[(titanic.deck=='A')&(titanic.survived==1)]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,Survival_rate,outliers
23,1,1,male,28.0,0,0,35.5000,S,A,0.368852,0.631148
209,1,1,male,40.0,0,0,31.0000,C,A,0.368852,0.631148
445,1,1,male,4.0,0,2,81.8583,S,A,0.368852,0.631148
556,1,1,female,48.0,1,0,39.6000,C,A,0.968085,0.031915
599,1,1,male,49.0,1,0,56.9292,C,A,0.368852,0.631148
630,1,1,male,80.0,0,0,30.0000,S,A,0.368852,0.631148
647,1,1,male,56.0,0,0,35.5000,C,A,0.368852,0.631148

In [49]:
import pandas as pd

In [50]:
df=pd.read_excel('D:\\PGP IN DATA SCIENCE\\Files\\Global_Superstore.xlsx')

In [51]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit Category-Updated,Profit Category,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,Worse,Awesome,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,Worse,Worse,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,Worse,Worse,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,Worse,Worse,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,Worse,Worse,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,Worse,Worse,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,Worse,Worse,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,Art,Newell 341,8.560,2,0.0,2.4824,Worse,Worse,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,Worse,Worse,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,Worse,Worse,1.002,High

In [52]:
import datetime as dt

In [53]:
df['Month']=df['Order Date'].dt.month

In [54]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product Name,Sales,Quantity,Discount,Profit,Profit Category-Updated,Profit Category,Shipping Cost,Order Priority,Month
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,Samsung Convoy 3,221.980,2,0.0,62.1544,Worse,Awesome,40.770,High,11
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,Worse,Worse,923.630,Critical,2
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,Worse,Worse,915.490,Medium,10
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,Worse,Worse,910.160,Medium,1
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,Worse,Worse,903.040,Critical,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,Worse,Worse,1.010,Medium,6
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,Worse,Worse,1.930,High,5
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,Newell 341,8.560,2,0.0,2.4824,Worse,Worse,1.580,High,8
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,Worse,Worse,1.003,Medium,2
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,Worse,Worse,1.002,High,5

In [55]:
df['Year']=df['Order Date'].dt.year

In [56]:
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Sales,Quantity,Discount,Profit,Profit Category-Updated,Profit Category,Shipping Cost,Order Priority,Month,Year
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,221.980,2,0.0,62.1544,Worse,Awesome,40.770,High,11,2014
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,3709.395,9,0.1,-288.7650,Worse,Worse,923.630,Critical,2,2014
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,5175.171,9,0.1,919.9710,Worse,Worse,915.490,Medium,10,2014
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,2892.510,5,0.1,-96.5400,Worse,Worse,910.160,Medium,1,2014
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,2832.960,8,0.0,311.5200,Worse,Worse,903.040,Critical,11,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,65.100,5,0.0,4.5000,Worse,Worse,1.010,Medium,6,2015
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,16.720,5,0.2,3.3440,Worse,Worse,1.930,High,5,2014
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,8.560,2,0.0,2.4824,Worse,Worse,1.580,High,8,2012
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,13.440,2,0.0,2.4000,Worse,Worse,1.003,Medium,2,2013
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,61.380,3,0.0,1.8000,Worse,Worse,1.002,High,5,2013